[2019-06-21 10:15] TreeBranches opened #1 "Allow installation for all users / silent install"
OS: Windows

Would be great to have installation switches to give admins the option to install for all users and silent installation. I would like to roll this out to our development team, but am currently extracting the application contents and building our own MSI for this.

Else uploading this to the Windows Store would work too as I could then Powershell its installation and have the Windows S

[2019-06-24 01:56] GitFiend commented on #1
Thanks for the feedback! Sorry I took so long to respond. I've just recently gotten it working in the Windows Store and will be making that available with the next release.

[2019-06-24 20:44] mikepc opened #2 "Where is master?"
The master branch is entirely inaccessible for me :(

![Screen Shot 2019-06-24 at 1 43 30 PM](https://user-images.githubusercontent.com/878739/60050697-1a261c00-9686-11e9-9815-ade46965d6e0.png)

When I "show all branches" master does not appear, nor anywhere else in the app.

[2019-06-24 20:48] mikepc commented on #2
A separate project loaded master, but this one .. no dice :(

[2019-06-24 22:04] tsuggate commented on #2
That's interesting. Any chance you have a repo I could check out to reproduce the issue?

Does this repo have multiple remotes?

[2019-06-24 23:22] mikepc commented on #2
this is on a private gitlab enterprise server, I will see if I can
replicate it on a side project

On Mon, Jun 24, 2019 at 3:04 PM Toby Suggate <notifications@github.com>
wrote:

[2019-06-25 10:20] GitFiend commented on #2
Thanks for taking the time to enter a bug.

Going by the picture, it seems there are a lot of commits missing also? Is that true? Do you see any red error boxes when you load the repo?

One reason why you may not see master is if your repo has more than one remote URL, but it looks like there's more going on here.

[2019-06-25 15:07] mikepc commented on #2
I don't know about missing commits, but there are several remotes!

On Tue, Jun 25, 2019 at 3:20 AM Toby Suggate <notifications@github.com>
wrote:

[2019-07-04 01:21] GitFiend commented on #1
You can now get it from the Windows Store here: https://www.microsoft.com/en-nz/p/gitfiend/9nmnkltsznkc.

[2019-07-09 15:45] sapioit opened #3 "Please make youtube videos, to know if it's worth installing or not."
It would also serve as advertising, and so google won't change my search from "GitFiend" to "GirilFriend"...

[2019-07-11 21:44] AshrafJaddo commented on #3
It is free to install, better to try it yourself on your own repo and workflow to see if it works for you.

[2019-07-12 00:01] sapioit commented on #3
Might be better, but I'm not going to try it until I see how it works in a video. Same goes for almost all (new for me) apps before I install them.

[2019-07-12 00:02] sapioit commented on #3
Plus that making a 2-5 minutes long video should not take more than 20 minutes to record and upload on youtube.

[2019-07-13 09:50] GitFiend commented on #3
Thanks. This and our discussion on twitter has convinced me that youtube is a good next place to put some info on GitFiend.

Now that I think about it, the last new app I started using was Affinity Designer, and I watched youtube videos before trying and buying.

[2019-07-13 10:13] #1 closed

[2019-07-13 11:44] sapioit commented on #3
Thanks for making this decision!

[2019-07-31 15:33] duqcyxwd opened #4 "Nice build tool, Love it but any support for command line launching?"
Is there any way I can launch it though command line and it also accept a repo root path?

Such as:
[code]
It will open that project in gui.

[2019-08-01 04:45] GitFiend commented on #4
Thanks duqcyxwd. That sounds like a good idea. I'll look into it.

[2019-08-03 04:04] GitFiend commented on #4
In the next version you will be able to pass a repo path to GitFiend as an argument and it will load it.

On mac you will be able to do:
`open -a GitFiend --args ~/repos/newProject`

You could then use a shell script to simplify further, though in my testing this seemed confuse the Mac credential manager on private repos. I don't want to add a post setup script to do this because I want to keep se

[2019-08-03 12:20] GitFiend commented on #3
Here's a simple video showing GitFiend: https://www.youtube.com/watch?v=EtkqHDOi0gE

[2019-08-08 00:45] karamdaddy opened #5 "Name Icon not displaying properly when person has a middle name"
Hey Toby!

Found an edge case in the name icon. Middle names break the formatting.
Example: John man Doe will just display the first name

<img width="267" alt="Screen Shot 2019-08-08 at 10 40 59 AM" src="https://user-images.githubusercontent.com/11530737/62662811-65dc1d00-b9c9-11e9-913d-a7c8b41901ff.png">

[2019-08-09 07:06] GitFiend commented on #5
Hey Karam. Thanks. This is more of an intentional bail out than a break. I think names get very complicated as soon as there's 3 or more words. I'm not sure whether I should take initials from the first and last words, or use all 3.

[2019-08-11 21:10] karamdaddy commented on #5
Fair enough, thought I'd raise it just in case you didn't encounter it :)

Closing the issue :)

[2019-08-11 21:10] #5 closed

[2019-08-13 10:08] sapioit commented on #3
Thanks for making this decision!

[2019-08-23 08:00] qell opened #6 "Add tree to GitFiend"
I think it nice feature add tree git branches and commit like below pic:
![image](https://user-images.githubusercontent.com/41490584/63576552-b12b2980-c58c-11e9-9407-4ae49ed045f4.png)

[2019-08-23 08:01] qell opened #7 "Add spellcheck"
Please add feature to spellchecking commit message.

[2019-08-23 08:12] qell opened #8 "Dark theme not persist"
On linux(debian 10) the switch to dark theme is not persist. App have any config file to save settings permanently?

[2019-08-23 08:15] qell opened #9 "Path not always work"
On linux version when pass by terminal full path to repository is working. But when I pass current director(example "gitfiend .") it's not working. Maybe app can't handle hardlinks?

[2019-08-23 10:52] HatiEth opened #10 "Launch bash from gitfiend"
Thought it was kind of related to #3 but it is the other way around. Some tasks are taking longer than expected in GitFiend if you are commonly using git bash. But I like the interface for a broader overview and regular tasks.

It would be a nice addition to add a "Launch Git Bash" menu entry, so the repository is opened in bash.

[2019-08-23 11:48] GitFiend commented on #9
Thanks. I'll see if I can fix this in the next build.

[2019-08-23 11:55] GitFiend commented on #8
That's strange. I'm using ubuntu and it's persisting the theme. It remembers it the same way it remembers which repo you had open. Does it remember the last open repo?

[2019-08-23 11:57] GitFiend commented on #7
Thanks for the feedback. I plan on doing this in the future.

[2019-08-23 12:04] GitFiend commented on #6
This is by design. There are already arrows which allow you to see the relationship between commits and branches. I plan to add more features to improve this, but I don't want to do it the same way as other git clients as I don't like UI clutter.

[2019-08-23 12:06] GitFiend commented on #10
Thanks HatiEth. I think this is worth adding.

[2019-08-23 12:07] #3 closed

[2019-08-23 13:31] qell commented on #8
No it doesn't. Maybe app haven't permission to save config file?

[2019-08-23 13:33] #6 closed

[2019-08-23 15:22] BlakeTrebelhorn opened #11 "Unstashing changes deletes stash, plus 2 other things"
I'm not sure if this is supposed to happen, but i lost some of my stashes when I unstashed them. It'd be nice to have an option to keep them (and also name stashed when stashing).

I think it'd would also be nice to turn off auto-fetch on focus. There's been a few times where I've tried to commit something, but it can't write because there's a lock on the git file because it's fetching.

Finally,

[2019-08-24 06:06] GitFiend commented on #11
Thanks BlakeTrebelhorn. These are good suggestions. The deleting of stashes when unstashing is intended, but probably a bad default.

[2019-08-24 06:14] GitFiend commented on #8
It could be. I can do some testing on Debian when I get time. Do you have multiple instances of GitFiend open?

[2019-08-26 08:10] qell commented on #8
I just run one instance and nothing more.

[2019-08-26 10:04] #8 closed

[2019-08-28 13:00] SecondFlight opened #12 "Only stash some files, or stash one file at a time"
I have recently found myself wanting to stash my changes such that I could separately preserve and restore
1. broken and/or incomplete code for a feature, and
2. changes for my local dev environment that I do not wish to commit.

This would allow me to switch between feature branches while leaving behind changes that I want to associate with a specific branch but aren't atomic enough to commit.

T

[2019-08-29 00:48] markalzate13 commented on #2
Don’t worry people I don’t burn what people benefit from, I just don’t like how people don’t respect masters legacy, people benefit from me but people don’t even appreciate what they retain and what makes there apps and programs much better and reliable.

[2019-08-29 02:04] GitFiend commented on #12
Thanks SecondFlight! This is something I’ve been wanting also. I might move this up in priority.

[2019-08-29 09:23] GitFiend commented on #2
Closing this as there are no reproduce steps, I've been unable to reproduce it and there have been no other reports of it happening.

[2019-08-29 09:23] #2 closed

[2019-09-06 13:11] andrewozhegov opened #13 "Can i specify any other remotes instead of origin?"
I'm used to have 'origin-push' remove with my own fork of main repo & 'origin' with main repo. Because I have no permissions to push changes to main repo without PR.

[2019-09-08 03:00] GitFiend commented on #13
Not right now sorry. GitFiend should allow you to work with checkouts with multiple remote urls, but there’s no controls yet to specify or set it up from within GitFiend. Thanks for bringing it up, I think this is an important feature.

[2019-09-08 03:06] GitFiend commented on #12
I’m currently testing a solution to this. I added an option to let you stash your staged changes. This means you can stash single files or even parts of files (or any combination). If it goes well it’ll be in the next release.

[2019-09-08 03:07] GitFiend commented on #9
I’ve got a fix for this working, so it should be in the next release.

[2019-09-08 03:30] SecondFlight commented on #12
That sounds like a fantastic solution 👍

[2019-09-11 12:46] sebtiz13 opened #14 "Remote with ssh"
Hello,
The remote with protocol ssh its not supported ?

I have just :
"Could not read from remote repository. Please make sure you have the correct access rights and the repository exists."

The support it's planned ?

[2019-09-13 18:51] sebtiz13 commented on #14
Yes i use ssh remote url

Command `git fetch` on Git Bash and others Git Client working

OS: Windows 10
My repo config:
`
[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
[remote "origin"]
	url = ssh://git@mygitlab.fr:10022/myproject/myproject.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote

[2019-09-16 20:30] GitFiend commented on #14
That could be it. Gitfiend isn’t using git bash to run git commands. Does `git fetch` work in cmd? I think there’s an option when installing git for windows to add commands to cmd for git if not.  Unfortunately I don’t have access to a windows machine as I’m away on holiday right now.

[2019-09-17 07:57] sebtiz13 commented on #14
Yes `git fetch` work in cmd, but doesnt use ssh-agent, so the problem its maybe the suppot of ssh key ?
It's encrypted on AES-128 in CBC mode.

I dont know the probablies problems with key.

No problem it's not really urgent, I can use the commands for the moment. Good holiday

[2019-09-18 12:37] picoloto opened #15 "Windows 7 installer"
Is there an installer for windows 7?

[2019-09-19 12:27] jarda-wien opened #16 "Appimage doesn't start on Archlinux"
The appimage doesn't seem to work on my Archlinux install:
[code]

[2019-09-20 08:45] GitFiend commented on #15
No there isn’t sorry. I could provide an installer, but it wouldn’t be signed, and wouldn’t have automatic updates. I don’t mind doing this if there’s enough interest.

[2019-09-20 09:17] GitFiend commented on #16
That’s a shame. So it looks like you’ve done everything right (64 bit OS, made it executable). Unless it’s an incomplete download it should be working.

I’ll look into it when I’m back from holiday in a couple of weeks.

[2019-09-20 12:30] preeteshjain commented on #15
For me, the Windows 10 Store doesn't install any app for some reason. It's pretty buggy. It would be nice if there's a download page for .exe files. If there's an update people can download it manually and update like other software on Windows.

[2019-09-20 19:37] picoloto commented on #15
For me it is the same. The installer provided by the site is very important. even VS code does that and is handy to use.
Would you have that possibility?

[2019-09-24 09:04] minh98 opened #17 "is it open source ?"

[2019-09-24 09:05] minh98 opened #18 "should be expand all branches in commits tab"

[2019-09-25 08:53] alspadoni commented on #15
Please provide an installer different than the one downloaded from the MS Store as I can't install from the store using company email address.

[2019-09-28 06:28] DrChr opened #19 "License? Open source?"
Hi,

What is the license for gitfiend?
Is it open source?
Right now Gitfiend is gratis to install, what are the plans regarding this for the future?

Note: The reason for my question is that I'm evaluating some Git GUI clients.

[2019-09-28 21:50] GitFiend commented on #19
Hi DrChr.

Right now GitFiend is proprietary, mostly because I’m keeping my options open. At some point I may look for a way to fund future development, but I don’t think it would involve cutting off existing users. If for some reason I stopped working on it (or if I just want to), it would probably be open sourced.

[2019-09-28 22:00] GitFiend commented on #18
Hi minh98. Could you please explain some more? Is this about the text “show all branches...”?

[2019-09-29 08:11] minh98 commented on #18
![Screenshot from 2019-09-29 15-08-29](https://user-images.githubusercontent.com/26597466/65828990-0d3f4700-e2cb-11e9-937f-58650c72debe.png)
i want to show all branches by default. like it
![Screenshot from 2019-09-29 15-08-32](https://user-images.githubusercontent.com/26597466/65829013-32cc5080-e2cb-11e9-91f7-e07a85a54bd1.png)

i can see all branches and status of them without hovering over

[2019-09-29 19:38] GitFiend commented on #18
Why not just go into the branches view? (You can access it from the toolbar, a branch or the main menu). The hover is just so you can peek to see which other branches are on that commit without going into the branches view.

[2019-09-30 10:55] minh98 commented on #18
I am used to using other tools like gitkraken, sourcetree, gittower .. and they display all branches with their commit history. I feel that is very convenient

[2019-10-03 08:45] Jahroots commented on #16
I have almost the same issue.

$ uname -a
Linux ManjaroIppon 4.14.141-1-MANJARO #1 SMP PREEMPT Thu Aug 29 13:20:24 UTC 2019 x86_64 GNU/Linux

$ ./GitFiend-0.19.5.AppImage
[16180:1003/104500.598914:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_G

[2019-10-04 22:56] stop-start opened #20 "Select multiple files to stage"
Hi,
I just started using GitFiend and liking it so far!

I noticed though that I can't select multiple files to stage. I can stage one file or all files but not just some of them. It would be a helpful feature.

[2019-10-05 07:17] grevius5 commented on #16
I have no issue with:
Linux manjaro-pc 4.19.69-1-MANJARO #1 SMP PREEMPT Thu Aug 29 08:51:46 UTC 2019 x86_64 GNU/Linux
All work as aspected.

[2019-10-09 09:17] AndreaFranchini opened #21 "Setup authentication to repository"
Hi, first of all I really like the UI, nice work!

My problem is with setting up the authentication to my remote repository: it can't be configured via interface?
Also i'm not finding the way to change the username and email after having set them.

Thanks for your attention.

[2019-10-10 03:10] GitFiend commented on #21
Hi AndreaFranchini, thanks for the nice comments.

GitFiend should allow you to authenticate. If you are using https, it should prompt for username and password. If you are using ssh, you will need to get that working on the command line first, then it should work in GitFiend.

Right now GitFiend doesn't do a lot of configuration. It's best to get Git configured on the command line first, and then

[2019-10-10 07:42] AndreaFranchini commented on #21
It prompted me username and password and now I see the "Commit as xxx" label, but if I miss-type something or i want to change user/pass I can't find where to change them.

Anyway I'm agree that is not that terrible to "get Git configured on the command line first, and then GitFiend will pick up those settings" :)

[2019-10-10 16:44] fenice-csw opened #22 "Missing Date Field!"
Date field is most important in a code versioning program and is missing in the commit detail section. It is also useful in the commit list section if the commit has been pushed 1 or two days before.
Don't you think it's appropriate to include it?

[2019-10-10 23:41] GitFiend commented on #22
I agree. I like having time since in the commit list, but I think it should have the actual date when you look at a commit. I'll see if I can get this into the next release.

[2019-10-11 11:39] keymasterr commented on #22
It might be a tooltip when hovering the time badges on the Commit tab also

[2019-10-11 11:42] keymasterr opened #23 "Disable window drag"
Can you please disable window drag when pressing top buttons (on mac, not sure about other versions)?

[2019-10-12 01:08] GitFiend commented on #23
Yes I can it turns out. Should be in the next release.

[2019-10-16 03:40] GitFiend commented on #20
Hi stop-start, thanks.

I think this would be nice to have. I imagine you would be able to shift-click and maybe drag to select multiple files at once. I don't currently see it as a high priority as there are a lot of features and fixes I want to get to first.

[2019-10-16 03:43] GitFiend commented on #17
Hi minh98, I ended up answering this here: #19

[2019-10-16 03:43] #17 closed

[2019-10-17 17:44] rombru opened #24 "Merge branch"
Is it possible to merge branch ? Or, will it be possible in the future ?

[2019-10-17 19:10] studentlicense opened #25 "gitflow support"
any prevision to that ?

[2019-10-17 22:37] tsuggate commented on #24
Is this what you mean?

<img width="530" alt="Annotation 2019-10-18 113651" src="https://user-images.githubusercontent.com/19199926/67052758-a01d2400-f19b-11e9-9379-17a6ca58b943.png">

[2019-10-18 01:42] theunclemez opened #26 "Git avatar display missing !"
Hello Support !
I'm enjoying GitFiend but often finding it a bit 'non human' at certain point, precisely the avatar relative to each existing git account.

There is an avatar for each git in the world but they don't show on GitFiend.
it is nice to have those round colors etc but it will be more friendly and human comprehensive if the software shows the avatar of the person making the changes on a

[2019-10-18 19:10] rombru commented on #24
Yes ! Don't know why it didn't worked for me before, but apparently it works now. Probably a misuse of mine. Thank you.

[2019-10-18 19:10] #24 closed

[2019-10-19 00:12] GitFiend commented on #22
For the next release i'm just adding a tooltip with the full date when you hover over a relative date. I plan to make a bigger change soon when I rethink the expanded commit card layout.

[2019-10-19 22:35] GitFiend commented on #26
Hello, theunclemez.

I see what you did there :)

Yes, I agree. It would probably be less tidy and colourfull but would improve usability a little and be more "human". I will look into it.

[2019-10-21 05:27] #23 closed

[2019-10-21 05:29] GitFiend commented on #15
There’s now a separate installer for those who can’t or don’t want to use the Microsoft store.

[2019-10-21 05:29] #15 closed

[2019-10-21 05:30] #22 closed

[2019-10-22 06:35] sunyakun opened #27 "How to modify the encoding?"
Lovely developer
    I'm looking for a good git GUI tool, when I find gitfiend, I am sure this is what I am looking for, but when I was in use there has a problem, I am from China, using the Windows 7 operating system, the system default encoding is GBK, while git  default encoding is utf-8, so it show messy code when display git log. How should I do?

[2019-10-22 10:02] GitFiend commented on #27
Hi sunyakun,

This could be a bug in GitFiend as I haven't done testing on a Chinese version of Windows. I tried converting a file to GBK and didn't see the issue, so I will need to look into it further.

If you could provide a screenshot of the problem, that would help.

[2019-10-22 12:04] preeteshjain commented on #15
Thanks a lot!

[2019-10-22 19:15] BlakeTrebelhorn commented on #11
@GitFiend I just updated to v0.20 Thanks for implementing my requests, I really appreciate it.

[2019-10-23 02:11] #12 closed

[2019-10-23 02:12] #9 closed

[2019-10-23 09:34] sunyakun commented on #27
Git configuration file can control the encoding of input and output. I modified the encoding of git through the following command to solve this problem

[code]

I am sorry that I can't provide a screenshot, because my working environment is isolation from Internet.

[2019-10-23 15:54] HannesDev opened #28 "Add Sketch file diff support"
Hi Tony,
great work with GitFiend so far!

As a project manager in a design agency I currently am looking for a good git client that makes it easy for my designers who have no or little knowledge about git to use the tool.

We're working with [Sketch](https://www.sketch.com/) so a sketch preview would be essential for us to use GitFiend. Would be great if you can make it happen!

Thanks!

[2019-10-24 21:11] GitFiend commented on #28
Hi HannesDev,

Thanks, I think this a great idea. There are potentially a lot of challenges involved though, so I will need to research this to know whether it's feasible and a good fit for GitFiend.

[2019-10-24 22:49] GitFiend commented on #25
Sorry for the late response.

I'm assuming you are talking about adding extra UI/wizard for GitFlow, as you can already do GitFlow in GitFiend the old fashioned way.

At my day job, we use GitFlow, but I've never seen anyone use GitFlow scripts or a wizard in their Git client. I would be interested in knowing how many people want this, but currently, the feature doesn't excite me. If there's a mor

[2019-10-24 22:53] GitFiend commented on #27
Thanks for this. I will see if there's a way to fix this so that others don't have the same problem.

[2019-10-25 11:54] studentlicense commented on #25
hello, I work for a company with about 15 employees and we all use gitflow, so we would like this option to exist in git fiend. We used GitKraken for providing this feature but it is no longer free and my operating system does not support sourcetree. I would be grateful for the addition of the functionality.

[2019-10-25 13:55] HannesDev opened #29 "Make stage sidebar adjustable"
Hi Toby,
we're sometimes having some subfolders or longer file names as usual, which can't be seen in the Staged side bar. Would be great, if width of the sidebar would be ajustable.
Another idea would be tool tips.
![image](https://user-images.githubusercontent.com/17861443/67576944-d7617700-f73f-11e9-92d8-e9e79802e820.png)

Cheers!

[2019-10-25 14:01] HannesDev commented on #28
I think designers (and all other employees that have little knowledge with coding or git) are a huge potential target group for GitFiend.
There are currently just about only 3 popular tools for sketch designers, that for example are not really suitable for us, since we have our own git server and confidential designs. Just wanted to hint you to a potential profitable niche ;)

[2019-10-26 22:36] GitFiend commented on #29
Hi HannesDev,

I've been putting this off in favour of other things for a while, but will hopefully get to it soon. The tooltip is a good idea and can do that now/next release.

Thanks

[2019-10-27 07:21] HannesDev opened #30 "Support customized CSS themes"
Hello,
besides from the fact that I wish GitFiend would be OpenSource (I'd love to support with design), would it be possible to add a theme chooser or a way to override the css?
[Mattermost](https://docs.mattermost.com/help/settings/theme-colors.html) is a good example here, the themes can be easily customized in the settings.
Imagine GitFiend would have a Theme Gallery some day where people will

[2019-11-01 13:11] ordnaelmedeiros commented on #15
Thanks a lot!

[2019-11-06 03:11] drkrynstrng opened #31 "Add softwrap option when viewing changes"
A softwrap option would be useful when viewing changes to files, to avoid having to scroll to the right. I'm specifically thinking of Markdown files here, where sentences or paragraphs can be long.

[2019-11-06 04:59] tbm98 opened #32 "missing rebase feature"
do you plan on having that feature ?

[2019-11-09 23:10] GitFiend commented on #32
I'm not ready to implement it in GitFiend as it's not something we use where I work.

I would be keen to hear what your rebase workflow is and why, so I can think about adding it.

In GitFiend right now you can undo unpushed commits. You can use this to rewrite commit history.

[2019-11-09 23:15] GitFiend commented on #31
I think this is a good idea. I wonder if this should be the default? Side scrolling is not fun.

[2019-11-09 23:26] GitFiend commented on #30
Thanks, HannesDev. I think about all these things on and off. The short answer is not right now. I think supporting theming would slow me down when adding new features, and there's still a lot of important stuff GitFiend doesn't have yet.

[2019-11-09 23:37] GitFiend commented on #18
I think there may have been a missunderstanding here. GitFiend does the same thing as other Git clients. In your example, you have all branches pointing at one commit, that is why they are collapsed. You have given me an idea though. I should expand them when you expand the commit.

[2019-11-09 23:40] #18 closed

[2019-11-12 05:37] drkrynstrng commented on #31
I'm not sure about default or not. In Atom, for example, soft wrap is not on by default. Additionally, like in Atom, there could also be an option to define the preferred line length and then wrap at that point. Thanks!

[2019-11-13 10:36] jocabola opened #33 "Adding Keyboard Shortcuts / Some UX feedback [FEATURE REQUEST]"
Hi there,

First of all, many thanks for

This is more of a feature request thingy. I recently started using GitFiend in Linux and even more recently started to do so in OS X. I am really enjoying using it but it'd be ace to have keyboard shortcuts for some basic actions.

My suggestion in OS X would be:

**General View**

CMD+1 Changes
CMD+2 Commits
CMD+3 Branches

Also browse through them with s

[2019-11-13 10:47] jocabola commented on #33
Likewise, keyboard shortcuts for pulling (Cmd+Down Arrow) and pushing (Cmd+Up Arrow) would be great...

[2019-11-13 20:31] GitFiend commented on #33
Thanks, jocabola. There are some good ideas here. I definitely want to have good keyboard support in GitFiend, and some of these improvements will go into the next release.

[2019-11-15 08:12] FabioGaudenzi opened #34 "Feature Request: Folder View in changes tab"
First of all, thank you for your work. GitFiend is very clean and easy to use.

I think a folder hierarchy view within the changes list would speed up the commit process.

Thank you again.

[2019-11-18 04:16] aaaidan commented on #11
Hi Toby!

Firstly, well done on the implementation of stashes so far. It's *really* wonderful to be able to create them in a granular way. I also love that they stick around at the top with the rest of the changesets, which (now that I see it) is so obviously where they belong!

Second, regarding autodelete, I actually prefer the original behaviour. I _always_ want to delete my stashes when they a

[2019-11-18 04:24] aaaidan opened #35 "Enter to confirm dialogs"
Simple confirm and prompt dialogs can be dismissed with Esc but Enter key does nothing. I think it would be great if Enter confirmed the dialog.

E.g.
* Delete branch confirm
* Create branch/tag here dialog
* Discard stash

[2019-11-18 04:28] aaaidan opened #36 "Select multiple lines in changes viewer"
It would be helpful to be able to select multiple lines in order to [un]stage or discard more than one line at a time.

[2019-11-18 04:29] aaaidan commented on #36
Just to illustrate what part of the UI I mean...

![image](https://user-images.githubusercontent.com/151507/69024730-e28f7780-0978-11ea-8e74-720704709660.png)

[2019-11-18 08:21] GitFiend commented on #11
Hi Aiden! Thanks for the comments, I really appreciate it.

I usually want to delete my stashes after I unstash: It seems cleaner, and it won't delete if there's a conflict. Recently, however, I've been putting temporary debug code in a stash. It's easier to throw it away, and take it out again later than re-stash. I would also be interested in hearing other people's reasons for keeping them.

Git

[2019-11-18 13:58] BlakeTrebelhorn commented on #11
Yep, that's exactly the reason I apply some of my stashes instead of popping them. I have debug code that I need to flip flop back and forth between that should never move forward towards master, but is very useful for programming locally. I do get the need to have both, and I think popping makes sense most of the time.

[2019-11-18 15:00] tbm98 commented on #32
I'm not yet use this feature, but it can make graph look better for review and manager :D

[2019-11-18 15:01] tbm98 commented on #36
why you don't do it in local(IDE)

[2019-11-18 15:10] tbm98 opened #37 "[Feature Request] Missing graph"
graph is important for tracking and manager process of project
on gitlab web
![Screenshot-20191118220935-697x421](https://user-images.githubusercontent.com/52562340/69064073-299c6c00-0a50-11ea-85e8-4f04d2815efb.png)
in gitfiend tool
![Screenshot-20191118221018-562x304](https://user-images.githubusercontent.com/52562340/69064117-3e78ff80-0a50-11ea-927d-060ab20f40df.png)
:(

[2019-11-18 16:44] aaaidan commented on #36
@tbm98 Thanks for the reminder! Do you mean that as a workaround, or do you not think this sort of functionality belongs in GF?

[2019-11-18 21:49] GitFiend commented on #37
Hi tbm98,

What I like about having a graph is that it allows me to see what commits are on my branch, and see the ancestors of certain commits.

What I don't like about the graph is that in some repos it looks a bit like this:
![](https://memegenerator.net/img/images/71382958/crazy-charlie.jpg)

GitFiend shows arrows when you select a commit. I'm currently working on improving this and showing mo

[2019-11-19 00:13] GitFiend commented on #35
Thanks. I've been putting this off, nice to have an entry for it.

[2019-11-19 00:28] GitFiend commented on #36
I often discard lines in my IDE, but usually want to stage them in GitFiend.

I put this off initially because if selection of lines isn't really good, this feature wouldn't add any value.

I think this should be part of future improvements to the code viewer.

[2019-11-19 02:32] GitFiend commented on #34
Thanks @FabioGaudenzi  :)

Is it because in your project you have lots of nesting or very long paths? Are you finding it difficult to tell files apart?

A screenshot of the problem would be helpful if that's possible.

[2019-11-19 08:30] FabioGaudenzi commented on #34
I'm a game dev working on a Unity game with lots of different folders and long paths, right now my job is to import and check 3d models and textures for each object in the game. Unfortunately when I test the game, Unity modifies lots of meta files that could conflict with the work of others.

A folder view could help me bulk stage all the assets for a specific object without having to cherry pick.

[2019-11-20 13:46] jocabola commented on #33
Hi GitFiend, great to hear :)

Another thing that comes to mind, is a slightly better way to organise the repos. Maybe is not necessary to have bookmarks but would be nice to at least have the following features:

1. Delete an entry on your repos list
2. Search in Recent repos list --> Perhaps CMD+Shift+O to open recent repo with search field filter built-in
3. Multiple Windows? This doesn't bothe

[2019-11-21 10:12] binaryblood opened #38 "No Authorization window is shown when cloning remote repo"
GitFiend opens an already cloned repo, but when cloning a remote repo, it fails it never asks for authentication. The below error was shown in Ubuntu 16.04
![image](https://user-images.githubusercontent.com/31054280/69328596-83ca4680-0c75-11ea-8323-b72271ae2942.png)

[2019-11-21 20:34] GitFiend commented on #38
Thanks binaryblood, I'll look into it.

[2019-12-03 01:10] TechnoTrumpet commented on #33
I love the thoughts so far! I'd also like to see shortcuts to push, pull, and fetch.

[2019-12-04 09:35] michelseiler opened #39 "[Feature Request] Change author at commit"
The author name should be dynamically definable when commiting. This is needed if the application is used by different user.
Also desirable would be that the default author could be changed directly in GitFiend.

[2019-12-04 09:40] michelseiler opened #40 "[Feature Request] Remove project repos from history"
It would be nice if project repos could remove from the history list. If you use many different repos it gets confusing.

[2019-12-04 10:04] michelseiler opened #41 "[Feature Request] Clone button"
Hello again
I think your project is very promising so I would like to place another request.
I would like to use your application for users who have no knowledge of vcs systems. It would be nice if the "most important" functions are easy to find. A clone button or at least a menupoint for cloning in the project repository dropdown would be desirable.
Like other authors, I would welcome if this pro

[2019-12-05 03:41] GitFiend commented on #41
Hi @michelseiler.

Thanks for pointing this out, I do think clone is a bit too buried.

If you are seeing users new to version control using GitFiend I would love to hear what they struggle with most.

[2019-12-09 04:53] catriuspham opened #42 "[Feature request] Amend checkbox"
I and my colleagues find ourselves use this feature a lot. It is available on many famous Git GUIs such as GitX, gitg, and GitFork.
What it does is really simple, when the checkbox is checked, the last commit message appears, and when the user clicks commit, it overrides the last commit.
Optional: if the checkbox is checked and then unchecked, the last commit message should be kept in the text box

[2019-12-09 19:29] GitFiend commented on #42
So if I understand correctly, you want an easy way of amending commits?

[2019-12-10 03:46] catriuspham commented on #42
Yes!

[2019-12-16 09:42] jarda-wien commented on #16
I tried after a while (and a laptop switch). It still doesn't work, unfortunately.
[code]

[2019-12-18 00:34] GitFiend commented on #16
Hi @jarda-wien . Thanks for letting me know. There's a new version of the tool I use to make the AppImage so I'm hoping that will help.

[2019-12-21 15:54] LoiLock opened #43 "Can't open the .appimage on Manjaro"
So I downloaded the appimage from your website, gave it permissions to be executed. But when opened via the terminal using ./GitFiend-0.20.3.AppImage it gives me this error:
bash: ./GitFiend-0.20.3.AppImage: cannot execute binary file: Exec format error
Is it by any chance compiled for 32bit?
I'm running this on Manjaro using the 5.3.15-1 kernel

[2019-12-21 20:25] yoiang opened #44 "SSH Key Passphrase support"
I'm getting errors accessing my remote, the key I use has a passphrase and I was wondering if that may be the reason it wouldn't be working. If so are there plans to add support? Or is it something you'd be happy to take a PR for?

[2019-12-21 23:21] GitFiend commented on #43
@LoiLock A possible work around while I look into this is to install GitFiend from AUR.

https://aur.archlinux.org/packages/gitfiend/

Note: This package was created by Erik Dubois, not me.

[2019-12-22 00:14] LoiLock commented on #43
Oh damn, I looked for it on the aur yesterday (or the day before, don't remember) and I couldn't find it. Thanks a lot though, I'll install it tomorrow morning!

[2019-12-23 14:22] chaeronius opened #45 "Fails to launch on Debian 9.9"
GitFiend fails to launch after installing GitFiend_0.20.3_amd64.deb on Debian 9.9 with MATE Desktop Environment 1.16.2

**/var/log/messages output:**
traps: gitfiend[4461] trap int3 ip:56218989c4f5 sp:7ffe5dd12950 error:0
in gitfiend[56218791f000+531d000]

GitFiend will launch if --no-sandbox switch is used

[ same deb running great on Bodhi - thanks ]

[2019-12-23 20:09] szaroblekitny commented on #45
wojtekz@debian:~$ gitfiend --help
[14765:1223/210437.655968:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. **You need to make sure that /opt/GitFiend/chrome-sandbox is owned by root and has mode 4755**.
debugger/breakpoint trap

[2019-12-23 20:14] GitFiend commented on #45
Thanks for the report. I'm hoping to get some fixes out soon.

[2019-12-24 22:28] GitFiend commented on #38
I'm having trouble reproducing this. Are you trying to clone a private repo over https? I just tried this in Ubuntu 16.04.6 without any issues.

[2019-12-27 04:13] GitFiend commented on #44
Thanks @yoiang. GitFiend doesn't support this yet, but I think it's important and am looking into it now.

[2019-12-27 19:50] chaeronius commented on #45
Confirming that this is fixed for me in GitFiend 0.21 - thank you

[2019-12-28 00:09] GitFiend commented on #44
After looking into this I've found that ssh passphrases are intended to be entered in a terminal window manually by a human (E.g. Not passed as a command line option, or stored on disk). This is by design.

To support ssh passphrases in GitFiend I would need to fool ssh into thinking a user entered the passphrase on the command line. I'm not sure this would be any more secure than just removing th

[2019-12-28 03:41] binaryblood commented on #38
Yes, Its a private repo hosted with Gitea. its over HTTP (not https).

[2019-12-28 03:44] binaryblood commented on #38
I guess the problem might have occured when this application tries accessing CURL library internally (That is what i see in the error message from the image).

[2019-12-29 06:08] GitFiend commented on #38
Yeah. I seems the bundled git depends on it somehow and can't find/open it.

In the latest version of GitFiend (0.21) there's an option to use your system git instead of the bundled one on linux. It's under main menu -> Repo. If git is working for you at the command line then this should work.

[2019-12-31 21:13] yoiang commented on #44
I gotcha. That's too bad, it would be great to have a safe 2fa style mechanism already built into git that could be employed by GUIs

[2020-01-05 00:12] GitFiend commented on #44
Yeah. I'll keep thinking about this problem.

Right now you should be able to do 2fa over https using personal access tokens, and I'm adding an option to use your system installed git instead of the inbuilt one, which might enable workarounds.

[2020-01-07 10:42] Waltari10 opened #46 "Push tags"
Adding a tag doesn't seem to push it. Neither does pressing the push button. How do you push tags to remote? Cheers! Using on Debian 10

[2020-01-07 21:18] GitFiend commented on #46
It's in the tag context menu (click or right click). There is an option to push to origin.

I should revisit tags as I've been caught out by this also.

[2020-01-10 19:47] chaeronius opened #47 "'flash' on menus when using Dark theme"
Using the Dark theme in GitFiend_0.21.3 a momentary white 'flash' appears after triggering a menu or submenu.

Once a submenu has been triggered the effect seems to disappear from that menu until the parent menu is triggered again. This makes me think it is related to caching?

The effect happens during the time it takes the 'darkenBackground' class to be applied.

This happens on Mate ( on Debian

[2020-01-11 09:46] GitFiend commented on #47
Thanks @chaeronius. This bugs me as well. Unfortunately, I think it's a bug in the framework i'm using. I'm considering switching to my own implementation if it's not fixed soon.

[2020-01-15 01:01] GitFiend commented on #33
I'm currently testing control-shift-1, 2, 3 for Pull, Push and Fetch. When thinking about using the arrows It's not obvious to me whether pull or fetch is down.

[2020-01-15 11:08] jocabola commented on #33
To me numbers (1,2,3..) are usually more related to views... Tower Git uses the following:

⌘ + ⇧ + F for Fetch
⌘ + ⇧ + P for Pull
⌘ + ⇧ + U for Push HEAD

If using the arrows one could be cmd+down for fetch and cmd+shift+down to pull, but true, can be misleading...

Either way, shortcuts will help so much! :)

[2020-01-27 10:42] martinschayna commented on #47
Also seen and reported to vscode https://github.com/microsoft/vscode/issues/76850

[2020-01-30 07:21] tbm98 commented on #42
+1 upvote. also I want to commit append to previous commit look like 'fix typo...' or somethings :D

[2020-02-04 15:03] geozeke opened #48 "[Question] Updating GitFiend in Linux"
Greetings!

This is an ***outstanding*** project -- really nice work.

I'm just curious about installing updates to GitFiend.  I currently install it in Ubuntu Linux using:

[code]

When a new version of GitFiend is released, is it okay to install it on top of the old one?

Thanks!

[2020-02-05 11:11] GitFiend commented on #48
Hi @geozeke. Thanks!

Installing over the previous version should be fine.

[2020-02-05 13:58] geozeke commented on #48
Thanks!

[2020-02-05 13:58] #48 closed

[2020-02-19 17:04] victorhugoof opened #49 "Git submodule support"
Add submodule support to GitFiend

[2020-02-22 21:36] perocv opened #50 "[Feature request] Ignore files"
Hello folks,

I really like the vibes of this app.

I would suggest the idea of add a context menu option, in Changes view, to ignore files. Adding them to the gitignore.

Regs.

[2020-02-23 13:22] holterb commented on #49
Vscode with the gitlens has really great submodule support. If you are looking for something to model off of, please start there!
GitHub desktop has the lacking submodule support.

[2020-02-24 20:20] GitFiend commented on #50
Thanks @perocv

I agree, this is a nice to have feature.

[2020-02-27 13:40] thomasrehm opened #51 "Request: Distribute GitFiend via Homebrew Cask"
@GitFiend great tool so far!

Request: a very common way for devs working with git and Mac OS is installing different applications via brew or brew cask.

Please consider making GitFiend available via Homebrew Cask

[2020-02-27 14:00] Abraxelx opened #52 "When will you release new version?"
Hello can you give an information about new version for linux?
What's changelog exactly and when will it release?

[2020-02-27 21:25] GitFiend commented on #52
Hi @Abraxelx. There's a new release coming soon, I'm just fixing the last few bugs. I normally try to release every 2 months or more, but this one is taking a little longer.

This release is mostly focused on performance, bug fixes and tweaks with a couple new features.

I'll have a think about how to make this information more available in future.

[2020-02-29 22:04] GitFiend commented on #51
Thanks @thomasrehm. I’ll definitely consider this. This seems like one way to make installing updates easier on Mac.

[2020-03-01 01:24] Stuzer05 opened #53 "Commit message field vertical height"
Dear GitFiend developer,

I have been struggling to write a decent commit messages for a while now because of a small textarea height. I decided to improve your wonderful git client. But I'm not sure whether it's okay to post a piece of code here on github. I'd like to post it here if you allow, or rather mail it to you directly. I hope to see these changes in the next release.

Thank you for your

[2020-03-01 05:54] GitFiend commented on #53
Hi @Stuzer05, thanks. Feel free to post code here if you want. I may not solve it the way you suggest because there are other improvements I want to make in that area, but it still helps.

[2020-03-01 16:53] Stuzer05 commented on #53
I only paste what has been changed (overwritten).
[code]
Also, it's better to add classes the the unstaged/staged file elements.

[2020-03-02 18:54] GitFiend commented on #53
That's an interesting solution. I think enabling a user to resize is a good idea.

[2020-03-05 18:13] #52 closed

[2020-03-05 18:48] GitFiend commented on #52
New version for linux is out now.

[2020-03-06 09:20] Richard-Bagriy opened #54 "Missing commits when undo a commit"
Hello i found some issue when i Undo my commit...
For example i need to undo this commit test in the red border
![issue-1](https://user-images.githubusercontent.com/57046082/76069709-f698cc80-5f9b-11ea-9c4e-541a0f0b3403.png)
When I undo commit i can't see my all commits, i need to restart app..
![issue-2](https://user-images.githubusercontent.com/57046082/76069895-49728400-5f9c-11ea-9570-3b9648d29

[2020-03-06 19:31] GitFiend commented on #54
Thanks, @Richard-Bagriy, I'll look into this now.

[2020-03-06 19:59] Stuzer05 opened #55 "[Feature request] Open terminal in repository folder"
Would be great to have a menu button to open terminal in a root of the repository in case you have to manually do something.

[2020-03-06 20:46] GitFiend commented on #54
I've just released GitFiend v0.22.6 to fix this. Thanks for letting me know.

[2020-03-06 21:02] GitFiend commented on #55
This would be nice to have. One thing that's caused me to put this off is that I don't know the users prefered terminal, though maybe this isn't a big deal.

Something you can do right now is Repo -> Open Repo in File Browser. You could then open your terminal from there. I'm considering making easier. E.g. Right-click on the background.

[2020-03-06 21:12] Stuzer05 commented on #55
@GitFiend I think it will be convenient to run a default terminal on windows and I'm sure there are ways to do it in Linux as well (`exo-open --launch TerminalEmulator` on XFCE desktop env)` it's important to add a setting to allow user to change the terminal. For example, to let specify the path to terminal and a command to execute.

Let %s be a path to the repo directory, so user could set his t

[2020-03-06 21:26] Richard-Bagriy commented on #54
Thanks for the quick fix @GitFiend

[2020-03-06 21:48] #54 closed

[2020-03-06 22:20] GitFiend commented on #55
Yes, I agree with that train of logic. The problem is this now feels too complex and yuck to me. If I discover a more elegant way of implementing it I will consider it.

[2020-03-06 23:07] #45 closed

[2020-03-06 23:08] GitFiend commented on #29
You can now do this in v0.22.

[2020-03-06 23:08] #29 closed

[2020-03-06 23:17] GitFiend commented on #37
This was improved in v0.21. I plan on adding more over time.

[2020-03-07 01:39] Stuzer05 commented on #55
@GitFiend Unfortunately, there is no way anyone can do a 100% working terminal detection system on every current and future OS. What I'm saying is that an auto-detection is a must yet manual setting cannot be left behind, as user should be able to change the default terminal (for example to ConEmu on windows). Or in case auto-detection didn't work correctly. There are many reasons manual terminal

[2020-03-07 01:42] Stuzer05 commented on #55
I see this way of working in nearly all git clients (which have this feature) and it's bothering many people (incl. me) some of them lack the feature of changing the default terminal application.
On windows, for example, I prefer to use ConEmu instead of the default cmd.

[2020-03-07 02:33] ImGamez opened #56 "[Feature request] Option to merge branches using --no-ff"
When merging branches it does it using fast-forward, an option to make a merge commit is a must in some cases. (If there is a way to do it, I don't see it 😶)

Cheers ✌.

[2020-03-07 02:45] GitFiend commented on #56
Yeah, there currently isn't. I just do what Git does by default. After reading this: https://stackoverflow.com/questions/6701292/git-fast-forward-vs-no-fast-forward-merge I think I understand why you might want an option to choose. I'll have a think about this.

[2020-03-07 03:10] GitFiend commented on #55
Yeah, when I use Windows I use Cmder. I would want GitFiend to split my current window rather than making a new tab or new window. Because of this, I wouldn't use this feature. I agree with the logic in what you are saying. I just don't want to spend time implementing features that I can't be fully happy with and I don't love. I would rather implement the missing feature that sent you to the termi

[2020-03-07 03:12] tbm98 commented on #37
@GitFiend Thank you about that!

[2020-03-07 03:49] Stuzer05 commented on #55
Well, you cannot cover all problems which could be solved with an open terminal. I often need to quickly change some file, make a merge without committing `--no-commit` (would be nice to have some kind of checkbox btw). I want to say is that terminal is so essential, it's hard to oversell it's importance.

[2020-03-07 04:03] GitFiend commented on #55
That's fair enough. I usually already have a terminal open for the repo I'm working in. For me, this is about focus. I want GitFiend to be only as complicated as it needs to be. I feel it's the job of your operating system to launch apps, not GitFiend.

[2020-03-09 09:58] caasi-dev commented on #13
is there an update on this?

[2020-03-10 07:27] GitFiend commented on #13
It’s now priority, and I’m planning to work on it for the next release.

[2020-03-10 15:32] infiniityr opened #57 "[Feature Request] GPG support"
Hi,

It would be great to support the code signature with GPG. Actually it returns an error.
![image](https://user-images.githubusercontent.com/15141959/76329103-6ab0d880-62ec-11ea-92dc-e27d9448690a.png)

Otherwise It is a really great app !

[2020-03-10 15:41] infiniityr commented on #57
Hello back,

For more information, I had my passphrase in the Keychain (I'm on MAC) and it still doesn't work.
I don't have any issues with command lines.

[2020-03-11 09:06] GitFiend commented on #57
Hi @infiniityr. Thanks for bringing this up. It's interesting in that it looks like it can't find gpg. I'll look into this when I find some time.

[2020-03-18 15:48] smandes86 commented on #49
Just tried to do this and it doesn't recognize the submodule as a git repo. Not sure why, but yeah I would love to see support for this. It would completely help me transition away from GitKraken which now behind a paywall for private repos.

[2020-03-18 22:56] brogan89 commented on #20
Up vote :+1:  . Literally the first thing I tried. This feature is very handy. Especially when using with Unity projects as there can be a lot of .mat files manipulated in run time but don't need to be committed. Pretty tedious going through one by one.

Maybe I need to change my work flow though :thinking:

[2020-03-19 07:21] GitFiend commented on #20
Something that might help is pinning files you don’t want to accidentally commit. Just right click on an un-staged file -> pin file. Once you have set this up, you can just click stage all to stage multiple at once.

[2020-03-19 07:32] GitFiend commented on #49
@smandes86 GitFiend checks for a .git folder in the folder you open. Are you sure you got the correct folder? It can easy to get this wrong on the first try, unfortunately.

[2020-03-21 11:18] githlp opened #58 "[Feature Request] increase font size"
there is no option to increase the font size yet? - that would help to spot change details more quickly

[2020-03-21 20:56] GitFiend commented on #58
Coincidentally, I was just working this last night. In the next release, you will be able to increase and decrease the zoom like you would in a web browser. I turned this off initially as it broke context menus.

[2020-03-22 05:44] githlp commented on #58
Great news - looking forward to the next release!

[2020-03-24 05:51] arcolinuxz opened #59 "Feature request : open gitfiend in this folder"
In Xfce you can make custom actions (right mouse click).

We have a custom actions to open thunar in a particular folder

`thunar %f`

If gitfiend could do the same we can open gitfiend when navigating over all our githubs.
Choose the one we need and with right-mouse-click open the github.

ps. I am the maintainer of your application for all Arch Linux based systems on AUR.

[2020-03-25 00:56] GitFiend commented on #59
Hey @arcolinuxz. Thanks for making GitFiend available to AUR users. If there's something I could do that would help, let me know.

Do you mean something like this:
<img width="553" alt="image" src="https://user-images.githubusercontent.com/47970508/77490005-8bf1f700-6e9e-11ea-9cad-f48338427c39.png">
? (This opens your chosen remote in your default web browser)

I've just been working on that in th

[2020-03-25 08:41] arcolinuxz commented on #59
Not really.
You need to make it possible we can add something behind your application
gitfiend /home/erik/test
would open a github
in xfce you can make custom actions - that would be very handy.

[2020-03-25 08:43] arcolinuxz commented on #59
What is missing as well is the ability to drop a github folder on your application.
It will then automatically know to open that particular folder.
You can compare with gitkraken which has that functionality.
It is the intuitive thing to do (being an old Mac user)
see etcher, imagewriter,... where you drop an iso on an app to burn it on usb

[2020-03-26 04:26] GitFiend commented on #59
This should already work; I also just tested it now. Unfortunately, there's no --help option right now.

I agree about being able to drag and drop and folder onto GitFiend. This is something I want to add.

[2020-03-31 03:18] karamdaddy opened #60 "Extending `git push` to handle pre-push hooks"
Some repos have pre-push scripts that need to run (and pass) before the push happens.

Some hooks include checking the lint and running unit tests.

My workflow involves committing inside of GitFiend, and then switching over to the command line to run `git push`. Currently the push feature in GitFiend returns a `error: failed to push refs to {repo}` message.

[2020-03-31 08:19] GitFiend commented on #60
Hey @karamdaddy :)

Thanks for letting me know. It's an interesting problem as I imagine I would also want to see some console output while it's running. I'll have a think about it. I like this idea; I should be running the gitfiend unit tests pre-push.

[2020-04-03 11:35] wolfisberg opened #61 "[Feature Request] Side by Side view for diffs"
If there is already a option I didn't find it. Otherwise, I prefer a side by side view instead of inline to review changes.

[2020-04-05 10:06] GitFiend commented on #61
Yeah, it's not there. I plan on adding it in the future.

[2020-04-23 00:52] vladimyr commented on #4
@GitFiend Currently, in v0.22.8, this might fail due to #9 If you pass `.` as `--args` GitFiend assumes root path. A hacky workaround is to make sure path is absolute before passing it to GitFiend:
[code]

[2020-04-27 09:35] smujaddid opened #62 "[Feature Request] Ability to swap Stage Hunk and Discard Hunk buttons placement"
I think it is more suitable to have the "Stage Hunk" button placed after "Discard Hunk" button, at least for my taste.

I already made my habit to move my mouse cursor to the rightmost button, which is usually "Stage Hunk" or "Stage File" in my case, when using other Git GUI apps. It is almost the same for me when using other apps.

Sometimes I made big mistakes by clicking "Discard Hunk" when usi

[2020-04-27 14:11] fbstj opened #63 "[feature request] configure tab spacing"
I've gotten used to 2/3 spaced tabs, is there any chance I can reduce the tab spacing from 8 so things don't get pushed off the side of the page?

[2020-04-27 22:06] GitFiend commented on #62
Hi @smujaddid. Thanks for bringing this up. I'm sorry to hear how easy it is to accidentally click discard hunk instead of stage hunk. I might agree about the button order, I'll have a think about this.

[2020-04-27 22:16] GitFiend commented on #63
Oh, that's interesting. I prefer 2/3 space width also. I'm usually dealing spaces instead of tabs so I haven't been seeing this. I may need to add an option.

[2020-04-28 11:56] smujaddid commented on #62
Thanks for considering this.

Maybe some users will disagree with this, so if there is a configuration to swap them for some users rather than change them permanently for all users might be a better solution, but that depends of its implementation.

Anyway, I'll accept your decision then whatever it is.

[2020-05-06 00:10] GitFiend commented on #4
Thanks @vladimyr. I've got a fix for the relative path issue coming in the next version.

[2020-05-06 00:15] vladimyr commented on #4
Great!

[2020-05-07 00:05] johncrenshaw opened #64 "Support for Credential Helper"
GitFiend appears to ignore the credential helper, whether it is configured in the system, or in the repo. This is necessary to use AWS CodeCommit repos, among other things. Are there any workarounds, or is there any plan to support this?

[2020-05-07 04:52] GitFiend commented on #64
It doesn't currently respect the users setting on Windows. It should be on Mac and Linux. I've been meaning to improve this.

[2020-05-10 21:21] GitFiend commented on #64
@johncrenshaw This should be fixed in GitFiend v0.23. Thanks for reporting it.

[2020-05-10 21:25] GitFiend commented on #63
I've just released GitFiend v0.23 which improves this. Tab size is now 4 spaces. I think I will add an option in the future but wanted to do something better than 8 spaces quickly.

[2020-05-11 13:40] fbstj opened #65 "+N refs animation edge case"
if you hover over the end of the `+N` extra branches label in the Commits list it can cause animation flicker where the `+N` is removed which "shrinks" the label from under the mouse cursor causing animation cancellation then looping when the `+N` is added back in.

in the case i found it was `O local/master` `+2` and hovering close to the border would be enough to trigger the looping, as either t

[2020-05-11 21:23] #64 closed

[2020-05-11 22:47] GitFiend commented on #65
Yeah, it's a bit flaky right now. I'm thinking of changing this so that you need to click on the `+2` to expand the stack. I want to move away from hover effects that move elements around.

[2020-05-20 03:43] itspreshu opened #66 "[Feature Request] Tag creation"
It would be useful to have the tag feature on GitFiend, create tags, checkout tags, etc.

Great Work !

[2020-05-20 03:50] itspreshu commented on #66
Looking a bit more I found this feature. My bad.

Great Work Anyways!

[2020-05-20 03:50] #66 closed

[2020-05-20 04:05] GitFiend commented on #66
Glad you found it. The feature does need a bit more work.

[2020-05-20 15:02] Sav22999 opened #67 "I can't login to my github account"
I use Kubuntu (Linux) and I can't login to my account, maybe it's because i have 2fa turned on?

[2020-05-20 21:39] GitFiend commented on #67
It could be. In general, if your 2fa works on the command line it should work in GitFiend. I think you need to enter a personal access token in place of a password, or you could try ssh.

[2020-05-20 21:59] Sav22999 commented on #67
Perfect... It works now. Thanks

[2020-05-20 21:59] #67 closed

[2020-05-21 22:06] vladimyr commented on #4
@GitFiend Just wanted to say that I've updated cask definition (https://github.com/Homebrew/homebrew-cask/pull/81491) and tested CLI invocation. It now works perfectly! 👍 💯

[2020-05-22 23:35] GitFiend commented on #4
@vladimyr Excellent, thanks!

[2020-05-22 23:35] #4 closed

[2020-05-23 05:47] GitFiend commented on #58
This was included in v0.23.

[2020-05-23 05:47] #58 closed

[2020-05-23 05:48] GitFiend commented on #43
I think this has since been fixed.

[2020-05-23 05:48] #43 closed

[2020-05-23 05:50] GitFiend commented on #41
I've added clone to the Repository menu in the toolbar in v0.23.

[2020-05-23 05:50] #41 closed

[2020-05-24 02:31] smujaddid commented on #62
Thanks for implementing this in the new released version.

[2020-05-24 02:31] #62 closed

[2020-05-27 12:06] evaneykelen opened #68 "[Feature request]"
First of all, hats off to youL GitFiend looks amazing!

Feature requests:

* Ability to launch external editor. Currently you have to open the file in e.g. the Finder and then double-click the file to launch the editor. Opening the file straight from GitFiend would be a lot faster.

* Ability to launch external diff tool. E.g. on macOS I use FileMerge.app a lot which comes with Xcode because it's

[2020-05-28 11:42] GitFiend commented on #68
Hi @evaneykelen, thanks for the feedback and good explanation.

I've recently made the discard button safer and it now asks to confirm, but I definitely plan on adding a keyboard shortcut regardless.

[2020-05-29 10:57] lysek opened #69 "[Feature requests] Display date and time of commit"
It would be nice to have exact date and time of commit somewhere in commit details along with "XY days ago". Thanks.

[2020-06-01 01:05] tkinali commented on #34
Is there any improvement on this subject? Is it among your plans?

[2020-06-01 08:11] GitFiend commented on #34
I've made some indirect improvements since then that may help with Fabios' problem. You can now resize the sidebar, and you can pin files you don't want to commit (right-click -> Pin file). This means when you click stage all it only includes that files you want.

A next step is to better display deeply nested files/folders, which I plan to do in future.

[2020-06-02 16:33] caasi-dev commented on #13
@GitFiend awesome, thank you

[2020-06-03 02:15] stavfx commented on #33
configurable keybinding would be amazing!

[2020-06-04 12:28] weiping-playnext commented on #37
How about leaving the "commit" view as it is and change the "branch" view to that of a graph?
The graph is very useful for me to track what commits have been merged into a master branch.
The current "commit" view is helpful if I know the commit beforehand and just tracking to see which branches have integrated it but it is not helpful vice-versa in tracking the history of a single branch to see wh

[2020-06-05 03:07] CieNTi commented on #37
I was looking for this question because I found it an amazing client which, for me, only lacks this feature. So +1 here!

As a suggestion on this subject, maybe is easier to implement as a previous "fast" step something like you do with the author color?

I don't know how easy or hard is for you to is to programmatically differentiate between commits already merged, and the ones that now (thinking

[2020-06-07 09:20] GitFiend commented on #37
@weiping-playnext Using the branches view is an interesting idea. I agree that it's hard to see what commits are on a branch you don't have checked out. I plan to improve this.

[2020-06-08 02:00] GitFiend commented on #37
Thanks @CieNTi. If I understand your idea correctly, I've considered doing something like that when you hover over a branch. This gets around the problem that the same commit could be on 20 different branches.

[2020-06-08 02:05] CieNTi commented on #37
Hi @GitFiend, thanks for your answer.

I was referring to assign a base color for a branch (you already do that if I'm not wrong), then colorize each line according to the branch it belongs to, darker if already merged at some point, lighter if not (or any other kind of "encoding").

But the main idea behind it, is to fastly and easily look and see that kind of information (like a picture-overview

[2020-06-08 02:15] GitFiend commented on #37
@CieNTi Oh, I think so. Do you want to make it easier to tell what commits are on your current branch? Currently, you can open a commit that's on your current branch and there will be a coloured dot beside every commit on that branch, but you want to make it easier than that?

[2020-06-10 05:19] aurelhann commented on #57
Even it's working (in my linux case) could we have a badge or anything else for alert for wrong/could check signature?

[2020-06-10 05:33] aurelhann commented on #19
I enjoy using this software but miss some features to be a better git like GUI.
To improve it, open source could be the way.
I could help to do so but without code I'm frustrated :)

[2020-06-10 05:38] aurelhann opened #70 "Appimage root privileges ?"
Why appImage ask root privileges for starting?

[2020-06-10 09:06] GitFiend commented on #70
It shouldn't. You need to give it execution permission as is normal for AppImages.

[2020-06-16 00:59] #70 closed

[2020-06-17 15:27] Thane5 commented on #20
The pin feature is definitly a handy feature for some cases, but from my experience with a bigger Unity game, beeing able to quickly revert a bunch of unimportant files that were generated by the engine can save a lot of time, as those files would otherwise create conflicts when pulling.

[2020-06-22 10:59] ZaLiTHkA opened #71 "Release terminal after launching GitFiend"
First off, thanks for making Git so sexy... This is *by far* the most beautiful looking Git GUI client I've ever seen.. :grin:

I noticed on Linux (in my case, the Debian-based ZorinOS) that using the `gitfiend [path]` CLI command holds onto the launched process until *that* GitFiend instance is closed.. Naturally, we can get around this with something as simple as `gitfiend [path] &`, so I took i

[2020-06-23 09:54] GitFiend commented on #71
Thanks!

I'm not aware of any nice way of doing this from my end. I could do it with an extra launch step, though that would take extra time to start.

[2020-06-23 12:55] ZaLiTHkA commented on #71
Alrighty then, no worries.. Perhaps you could leave this issue open for the moment then?

It looks like GitFiend is packaged up as an Electron app, which I only know a little bit about, but I have been meaning to learn more for a while now. If this is the case, then I'll create a dummy project on my end a bit later and see what I find. (:

[2020-07-14 19:05] fishnux opened #72 "Missing dark mode toggle switch"
Hi,

I believe it's missing an option to toggle dark mode without relying on OS-switches.

[2020-07-21 23:47] GitFiend commented on #47
This should be fixed now.

[2020-07-21 23:47] #47 closed

[2020-07-22 11:46] chaeronius commented on #47
Confirmed on Linux, thanks

[2020-07-23 09:26] mukuact commented on #66
Excuese me.

I know how to create tag. But I could not find how to checkout tags.
Would you tell me the way to checkout a tag?

[2020-07-23 10:03] GitFiend commented on #66
Thanks @mukuact. There's currently no feature to make a branch and checkout from a tag. You can make the branch by going to the commit the tag is on directly.

[2020-07-31 09:26] houdinihound commented on #69
If you hover over "XY days ago" you get the exact timestamp, at least on my version, 0.23 (linux).  Does yours not show this?

[2020-07-31 09:52] lysek commented on #69
Yes, I haven't noticed this feature. But still, it would be good to see exact time and date somewhere in the commit details, there is plenty of space - e.g. next to commit hash.

[2020-08-05 07:01] mukuact commented on #66
OK.

[2020-08-06 11:16] ZaLiTHkA commented on #42
I would also find this useful, but in the meantime you can also:

* undo the last commit (..which is only available if the commit was not already pushed)
* view the "Changes" tab, where the "undone" commit changes are staged and message is populate
* adjust list of staged files, update commit message, and save

@GitFiend, perhaps a checkbox for "Amend previous commit" could simply perform these st

[2020-09-05 19:10] Stromberg90 commented on #20
This feature would be really great, I'll try out the pin method for now.

[2020-09-21 15:38] Xhelliom opened #73 "Push - time out on large files"
Hello,
I have a time out error when large files are pushed.
I think that when it takes to much time, it throw an error, even if it's pushing.
Thank you.

[2020-09-21 23:46] GitFiend commented on #73
That sounds annoying. Thanks for bringing it up. I've been working on this sort of thing in the upcoming release, so it will hopefully be fixed soon.

[2020-09-23 06:33] ocian opened #74 "Can't commit on windows, because of not pass the commit lint"
It shows error `numeric argument required`,
I think it's caused by the line break.

![图片](https://user-images.githubusercontent.com/18749280/93975234-b5d29a80-fda9-11ea-8595-3206e7a4bc46.png)

[2020-09-23 12:22] SincerelyFaust opened #75 "Gitfiend won't log me in"
So I stage my changes and it asks for my Username and Password which I enter, after that it just resets, doesn't push and when I click Push again, asks for the same again.
My GitHub account has 2FA, maybe it doesn't like that?
I'm on Linux (elementaryOS) at the moment, on Windows it worked perfectly.

[2020-09-24 12:00] GitFiend commented on #75
On Linux you will need to use a personal access token instead of your password if you are using 2fa. Sorry that the UI doesn't explain this.

[2020-09-24 12:04] GitFiend commented on #74
That's a shame. I'm currently working on fixing commit hook issues for the next release so hopefully this can be fixed as part of that.

[2020-09-24 12:40] SincerelyFaust commented on #75
I see, thanks and you should totally add that to the UI 😅

[2020-09-25 08:38] navy1978 opened #76 "File history and working tree"
Hi ,
Is there a way to see the working tree of the current project, and then to see the history of a specific file?

Thank you in advance

[2020-09-26 09:42] GitFiend commented on #76
Not right now sorry. This is definitely something I want to add in the future.

[2020-09-28 02:51] isyq opened #77 "Recognize the child path of the git repo"
Hello,

The repo path is: C:\git-repo-path
The project path is: C:\git-repo-path\project-path

GitFiend supports to open the repo path by `gitfiend <repo-path>`, but if pass the project path to the GitFiend, it can't recognize and report an error.

Suggest to support the child path of the repo, because usually we are focused on a specific folder or file in the work.
Thanks.

[2020-10-01 02:01] GitFiend commented on #77
Thanks for the feedback. This is an interesting approach. I'm hearing a lot of users asking for ways to better filter/declutter or see their unstaged files.

[2020-10-07 03:29] TjayNL opened #78 "Add this to AppImageHub"
Can this app please be added to https://www.appimagehub.com/ this way its easier to update the appimage if there is an update.

Thank you!

[2020-10-31 12:01] karolineKarkoschDrKlein opened #79 "Changing from a http-remote to a ssh-remote is not possible"
I have a repository which was configured with an http-remote: `https://myname@bitbucket.org/myname/myrepo.git`
When I tried to edit the origin to `git@bitbucket.org:myname/myrepo.git` (so I could use my ssh-key) GitFiend did not react at all and when I tried to add a new remote the error message "Please enter a valid URL or Path" popped up.
Executing `git remote set-url origin git@bitbucket.org:my

[2020-11-01 07:54] GitFiend commented on #79
Thanks for your well written bug report :) This is something I want to fix soon.

[2020-11-22 06:21] ranjithrd opened #80 "Git Flow Support"
It would be very useful for most git users to have support of Git Flow in built with GitFiend as it is on GitFox or Sourcetree.

Thanks.

[2020-12-01 06:45] rahmaevao opened #81 "Long repository name"
I have a long repository name.
The repository name bumps into the branches tab.

![image](https://user-images.githubusercontent.com/33318971/100706350-eb06f480-33b9-11eb-8379-df977f8068c7.png)
GitFiend_0.24.1_amd64 Ubuntu

[2020-12-01 08:35] GitFiend commented on #81
Wow, you do indeed. Thanks, I'll see what I can do to improve this.

[2020-12-11 12:08] moqmar commented on #19
I'd also have a lot of ideas on how to improve GitFiend and would spend time to work on this. It would be awesome to have it Open-Source, or maybe even just Source-available under a license like [Fair Source](https://fair.io/?a) with a CLA.

[2020-12-19 23:13] earnestma opened #82 "Use git stored credentials"
Would it be possible for GitFiend to use Git stored credentials?

~/.gitconfig:
[code]

Credentials are stored in plain text in ~/.git-credentials or $XDG_CONFIG_HOME/git/credentials

GitFiend 0.24.1.0
git version 2.29.2.windows.2

Thanks!

[2020-12-20 02:59] GitFiend commented on #82
You may be able to get this working by using the .exe installer of GitFiend and your system installed version of Git (uncheck menu -> repo -> use build-in git). You should then be able to set the credential helper in your Git config to use store instead.

Some details:
 - The Windows Store version of GitFiend includes an embedded copy of Git and git-credential-manager (this is a requirement of the

[2020-12-20 03:17] earnestma commented on #82
Thank you!

[2020-12-20 03:17] #82 closed

[2020-12-30 19:31] blueneogeo commented on #32
Hi Gitfiend looks amazing. However at my company we use rebase a lot. Our workflow is as follows:

- person A commits to the master branch
- person B is working on another branch, wants to pull in the changes from master, but not have a new brach. instead, just wants those changes integrated into his/her own branch. So person B performs a rebase.
- person B rebases code with the master, and has an

[2021-01-24 13:12] igorpupkinable opened #83 "Application icon missing for AppImage shortcut"
Given I have `/opt/GitFiend-0.24.1.AppImage`, I have added desktop entry to `~/.local/share/applications/GitFiend.desktop` with the following content:
[code]

I can launch the app and everything works. Icon is missing however.
What is the correct path/name for application icon?

I can help updating documentation with this example if anyone knows how to get application icon from the AppImage.

Ubun

[2021-01-25 03:22] GitFiend commented on #83
I don't know a lot about the AppImage format but it sounds like you would need to extract it first which seems extreme.

You could try these options if you haven't already:

A) Using the icon from gitfiend.com
B) Installing the .deb version of GitFiend
C) Install something that improves the AppImage integration in your distro

[2021-01-27 09:49] ghost opened #84 "GitFiend not seeing commits and branches"
Cloned a repository from BitBucket. It is a big repository with multiple branches, thousands of commits. When opened in GitFiend, I see **nothing**. No branches, no commits, _no nothing_. This is especially weird, since I have some other local repos, and GitFiend sees them properly and all. I do not even know how to debug this. I can see the commits and branches when accessing via Git from Termina

[2021-01-27 10:58] GitFiend commented on #84
Thanks for the bug entry. This is strange. Something that would help is if you could open the dev tools: View -> Toggle Developer Tools, and see if there are any error messages. There's also a chance this is related to Big Sur as I haven't released an updated version yet.

[2021-01-28 02:20] GitFiend commented on #84
Any chance you used a shallow clone? I haven't seen how this behaves in GitFiend yet. Other ideas is there's something unexpected in your commit messages or time stamps GitFiend doesn't know how to handle.

[2021-01-28 09:02] mateuszjablonski commented on #84
after typing `git fetch --unshallow` I get `fatal: --unshallow on a complete repository does not make sense`. Is there some kind of debug mode, so I can see what Git commands are called and what is the result?

I don't think it has anything to do with branch or commit names, using only regular English characters.

After giving it some thought, it looks like it has problems with determining remotes

[2021-02-20 06:06] SecondFlight opened #85 "Operation hangs until "show console" is clicked"
This happens with other operations intermittently, but I can reproduce it on Windows 10 with these steps:

1. Make some changes to the repo
2. Close and re-open GitFiend
3. Stage a file

This causes the in-progress popup to stay on screen. If I click "show console" and then "OK", it closes. Otherwise, I have to wait for something like 30 seconds.

This also happens when you first unstage a file af

[2021-02-20 06:14] SecondFlight opened #86 "Line-by-line discard is broken"
In the latest update, line-by-line discard is broken (Windows 10):

![Ho77KDPxMa](https://user-images.githubusercontent.com/6700184/108585900-01698000-7319-11eb-97ba-823f2bc19994.gif)

The "show console" workaround seen above is described in #85.

[2021-02-20 11:33] Industrial opened #87 "[Feature Request] Option to enable lines between commit dots"
Hi!

I understand that it's part of the design but working in a team and having many branches it's very confusing to see one line of commits when it's different work being done by multiple people simultaneously.

To make this process understandable the command-line git client includes this functionality as well (`git log --graph --oneline`) so I think it should not be missing from a GUI client.

C

[2021-02-21 04:13] GitFiend commented on #86
Thanks @SecondFlight, this was very helpful. I've just released GitFiend 0.25.4 with a fix for this (Microsoft store version should be available soon).

[2021-02-21 04:15] GitFiend commented on #85
Thanks @SecondFlight. I've just released GitFiend 0.25.4 which should fix this (Microsoft store version should be available soon).

[2021-02-21 09:09] GitFiend commented on #87
Hi Tom, thanks.

Something I'm planning to work on soon is the ability to set filters. You could use this to exclude commits that are not on your current branch. Would this help?

[2021-02-21 19:36] mateuszjablonski opened #88 "Invalid version at https://gitfiend.com/app-info"
Currently https://gitfiend.com/app-info returns version `0.25.0`, but there is no such version. There is `0.25.4` available at https://gitfiend.com/resources/GitFiend-0.25.4.dmg. Reporting because of failed update submission to Homebrew Cask: https://github.com/Homebrew/homebrew-cask/pull/100137

[2021-02-21 23:02] GitFiend commented on #88
That's strange. I'll take a look at it later today when I get time. Thanks for reporting.

[2021-02-22 06:41] GitFiend commented on #88
This should be fixed now.

[2021-02-22 11:56] mateuszjablonski commented on #88
Yes, version is now `0.25.4`

[2021-02-22 11:56] #88 closed

[2021-02-22 15:57] SecondFlight commented on #85
Confirmed fixed in the 0.25.4.0. Thanks!

[2021-02-22 15:57] #85 closed

[2021-02-22 15:57] SecondFlight commented on #86
Confirmed fixed in the 0.25.4.0. Thanks!

[2021-02-22 15:57] #86 closed

[2021-02-23 10:15] martin8877 opened #89 "changes view - annoying hover animation"
Hi,
Is it possible to disable hover animation when staging files? I often click on "Stage File" or "Unstage file" by accident when comparing changes. I think it's UX anti-pattern if button changes position on mouse hover. It would be more intuitive if these buttons were always visible.

btw, great git client

[2021-02-23 13:18] #87 closed

[2021-02-23 18:29] igorpupkinable commented on #83
I found a way to do this manually after some investigation.

To add a shortcut icon you need to extract if first from AppImage with `./GitFiend-0.25.4.AppImage --appimage-extract`. You will find `gitfiend.png` which you need to copy to `/var/lib/snapd/desktop/icons`. Icon will be picked up automatically after for a desktop entry with `Icon=gitfiend` property.

However, I am yet to figure out how t

[2021-02-23 18:29] #83 closed

[2021-02-23 23:12] GitFiend commented on #89
Yeah, I agree it's a problem. I'm planning to redesign both this and the branch hovering soon so that things only move on clicking.

[2021-03-12 06:54] santosh221991 opened #90 "RHEL Support"
Can we get a support for redhat linux r an rpm package to install

[2021-03-12 22:31] GitFiend commented on #90
Yeah, I think so. I'll see if I can add this soon.

[2021-03-15 08:45] DennisBetawerk commented on #84
I'm having the same problem. Whenever a specific team member makes a commit on a branch (even one that is not my current branch), everything including and before that commit is completely invisible in GitFiend. No remotes, commits or branches. If I create a new commit and push it through the CLI, that commit, remote and branch show up again, but only from my commit onwards.

Looking at the commits

[2021-03-15 09:13] mateuszjablonski commented on #84
@DennisBetawerk YES! It makes perfect sense. I have three separate repos, two of them are failing to work with GitFiend, and I have just checked, that in both of them there are some authors with no email address. The third one works, because it is my private repo and I am the only committer.

[2021-03-15 15:59] ranjithrd commented on #80
Any update? Is this on the roadmap?

[2021-03-16 03:06] GitFiend commented on #84
Thanks @DennisBetawerk and @mateuszjablonski for investigating, that might be the problem. I'll look into it first thing.

[2021-03-16 03:26] GitFiend commented on #80
Sorry for the late replay. I'm still considering this feature. It would be a lot more useful where I work if it worked across multiple repos at once.

[2021-03-22 08:29] DennisBetawerk commented on #84
With release 0.26 I can see all commits again, even those by people without an email address. Thank you!

[2021-03-23 01:57] GitFiend commented on #84
Excellent, Thanks.

[2021-03-23 01:57] #84 closed

[2021-03-24 12:54] mateuszjablonski commented on #84
I know the issue is closed now, but I want to confirm, that it was the exact issue on my side too. Now after update I can see all the commits and branches. Thanks @GitFiend for the good work! I have bumped the version on Homebrew.

[2021-03-25 13:52] s0kil opened #91 "Automatically checkout newly created branch"
When creating a branch, also checkout.

[2021-03-26 21:30] GitFiend commented on #90
An rpm option is now available.

[2021-03-26 21:30] #90 closed

[2021-03-27 15:50] ranjithrd commented on #80
Makes sense. Thanks!

[2021-04-04 06:35] navalpatel5 opened #92 "large list for recent GIT"
Thanks for a very valuable and useful tool. It has never once made me look for anything else to solve the GIT related operations.

There are about more than 15 -20 projects I keep working/visiting in a week. The recent repository list or the list of repositories that are available to switch between are only 8. Was wondering if there is some configuration/setting by which I can increase the list si

[2021-04-05 22:13] GitFiend commented on #92
Thanks for the comments @navalpatel5.

Unfortunately, there's no current way to change the size of the list. I had a look at other apps, and I think the size should probably be doubled.

[2021-04-12 09:07] ad-si opened #93 "Remove "stage file" slider"
I think this is a really bad design in terms of UX.

It happened a few times already that I wanted to click on a file to view it in the diff view on the right side, but I didn't take into consideration, that the "stage file" button slides out, and so I accidentally clicked on "stage file" instead.

GitUp lets you simply stage a file by double clicking it. If that's not discoverable enough for your

[2021-04-14 22:37] GitFiend commented on #93
Yeah, I agree. See https://github.com/GitFiend/Support/issues/89

[2021-04-19 10:16] orilador opened #94 "View specific branch's commits only"
Hi,

First - thanks for your excellent client, much appreciated.

There are many instances in which I want to view or track just the commits of a specific branch, but I can't find such option so I have to go to the repository on github -> branch -> commits (+ in general it's less convenient seeing the commits and changes on github by opening a tab for each one rather than in your client).

I think

[2021-04-21 08:09] ProgrammerAuditore opened #95 "bug detected / found"
There is a bug when deleting a branch in Windows, it enters an infinite loop with a message that says "Delete <name_branch> ..." and it is necessary to close the program.

[2021-04-25 04:57] GitFiend commented on #94
Thanks, @orilador. I do like this idea. I'm planning of including this in the upcoming commit search/filter feature.

[2021-04-25 05:12] GitFiend commented on #95
Thanks, @ProgrammerAuditore. I think I may have seen this once before but haven't been able to reproduce it since. Does this happen for all branches? Or just some? Can you provide some details about this branch? is it local or remote? Does its name have non-alphabet characters?

[2021-05-01 10:32] SergeyFi commented on #95
Hello, I have the same bug, in my case it happened in locally on any brunch. name of the branch has only alphabet characters.

[2021-05-05 21:18] GitFiend commented on #95
I've been able to reproduce this. Thanks @SergeyFi and @ProgrammerAuditore. I'll have a fix out soon.

[2021-05-12 06:44] ttamttam opened #96 "Add git workspaces support"
It would be really useful in my case.

Thanks for the nice job!

[2021-05-31 19:08] WieFel commented on #37
+1 on this.
I just tried GitFiend, coming from GitKraken. And I desperately miss a graph representation. It would help so much to easily see branches and distinguish commits. Would very much appreciate to have it in GitFiend! ;)

[2021-05-31 20:37] CieNTi commented on #37
Hi @WieFel !
At the end I moved to VSCode + git graph, see: https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph

![image](https://user-images.githubusercontent.com/5205702/120240347-9f49e080-c260-11eb-8e34-73586703dafe.png)

I was using GitKraken since the last years, and I may miss the gitflow helper, but definitely it looks great, multiple color, branch and commit info ... I r

[2021-05-31 20:45] WieFel commented on #37
@CieNTi thanks, I also had discovered that one.
However, I don't actually like it that much. Compared to GitKraken it is still a little un-handy. In GitKraken you see everything you need right away: graph, commits. And it is easy to navigate through changes in every commit.

I wonder why still no single open source git client for linux can manage to have a good integrated branch graph view, at one

[2021-05-31 20:49] CieNTi commented on #37
I fully agree with you

[2021-06-04 13:58] Sebclem opened #97 "Support Markdown emoji"
I'm using a lot of markdown emoji in my commits message, but in GitFiend, the emoji are not parsed:
![image](https://user-images.githubusercontent.com/23737709/120812070-f4317380-c54c-11eb-93f6-434b9eff64a0.png)

You can maybe use this https://github.com/omnidan/node-emoji :
[code]

[2021-06-07 08:55] GitFiend commented on #97
Thanks, @Sebclem. I think this is worth doing. Are you using markdown emoji instead of Unicode for any particular reason? The native emoji picker should work in GitFiend on Mac and Windows, but unfortunately not Linux.

[2021-06-07 09:00] GitFiend commented on #96
Thanks, @ttamttam. This is a work in progress. You can try out a rough preview of the feature:
![image](https://user-images.githubusercontent.com/47970508/120988934-1dfbcc00-c7d3-11eb-8d87-67b3690f96c9.png)

[2021-06-07 10:48] ttamttam commented on #96
Not sure what it will offer, but it’s very exciting that this was already planned!

Thanks.

[2021-06-23 10:01] deepaspl opened #98 "Add Console Or Log"
GitFiend is very clean and easy to use.

I show the Console button on start a few process, but it disappears before I clicked on it,
Can you please add a parchment console link or box to check every cmd run in past?

[2021-06-24 14:18] ChongChengAC opened #99 "[Feature Request] Preview a certain historical version of a file (aka "view file")"
Can GitFiend add a function similar to ***"view file"*** in github?

Sometimes I need to focus on the complete content of a certain version in the history of a file, rather than the difference between this historical version and the previous few submissions.

GitFiend is easy-to-use for me who are new to Git. Thanks for your contribution to it.

[2021-06-25 09:44] GitFiend commented on #99
Thanks, @ChongChengAC. This is definitely something I want to do.

[2021-07-01 15:39] Sebclem commented on #97
I, sorry for this (verry :sweat_smile: ) late reply, i was quite busy, i'm mostly on linux and i write a lot of docs in Markdown at work so it's more a habit now.
And I think the KDE emoji picker work (i need to try to be sure). But if GitFiend can parce markdown emoji this will be perfect.

[2021-07-07 15:41] EdvaldoLima opened #100 "Small UI/UX detail"
![image](https://user-images.githubusercontent.com/12137008/124769773-21888d00-df10-11eb-8f56-8b215f81b788.png)

As we can see from the print, the modal presents the affirmative actions on the left side, and the negative actions on the right side.

By changing the actions, the "problem" is solved.

[2021-07-08 01:14] GitFiend commented on #100
Thanks @EdvaldoLima. I will have to think about this. It looks like Windows/KDE put the affirmative action on the left and Mac/Gnome on the right 🤔.

[2021-07-08 17:37] EdvaldoLima commented on #100
This complicates our life, but I'm using the app daily, hug.

[2021-07-12 04:24] GitFiend commented on #98
hi @deepaspl, thanks for the comments. Sorry I didn't respond until now. I intend to improve this over time, but not sure what the right approach is yet.

[2021-07-13 18:32] chekobil opened #101 "0.27.4 not working on macOS 10.12.6"
I updated the app and it doesn´t work anymore
Crashes with this error

Process:               GitFiend [36009]
Path:                  /Applications/GitFiend.app/Contents/MacOS/GitFiend
Identifier:            com.tobysuggate.gitfiend
Version:               0.27.4 (0.27.4)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           GitFiend [36009]
User ID:

[2021-07-13 20:31] GitFiend commented on #101
Thanks, @chekobil. I'm sorry to hear it's crashing. I've uploaded v0.26 to GitHub https://github.com/GitFiend/Support/releases/tag/26.0 while I look into this.

[2021-07-25 00:03] #91 closed

[2021-07-25 00:03] s0kil commented on #91
Thank You!

[2021-07-27 23:19] cainmagi opened #102 "Preserve the historical version."
It seems that the historical version will be removed if a new update is released. This will make it difficult to maintain installation scripts. Is it possible to preserve the historical released versions? If not, I suggest that the maintainer could

* Update this program to some public package source, like `apt` on debian, or `apk` on alpine.
* or provide an API for users to download the latest ve

[2021-07-28 00:29] GitFiend commented on #102
Thanks for the feedback @cainmagi. I'm intending to start preserving the released versions soon, though the download api is a also good idea. I'll look into it.

[2021-07-28 00:56] cainmagi commented on #102
Thank you!

[2021-07-28 00:56] #102 closed

[2021-08-05 13:06] chekobil opened #103 "0.28 ARM version, not working on mac OSx 11.0.1"
**INTEL version is working fine ...**

White screen with nothing, and this error on Console:
`Aug  5 14:50:08 MacBook-Pro-de-Felipe com.apple.xpc.launchd[1]: Coalition Cache Hit: app<application.com.tobysuggate.gitfiend.5618351.5618561(501)> [14349]
Aug  5 14:50:08 MacBook-Pro-de-Felipe GitFiend Helper (GPU)[16427]: getattrlist failed for /System/Library/Frameworks/OpenGL.framework/Resources//GLRe

[2021-08-06 06:04] GitFiend commented on #103
Thanks for letting me know. Yeah, it could be an issue in my app bundler. Hopefully, updating libraries will fix it, otherwise, this will have to wait until I have an Apple silicon Mac.

[2021-08-08 19:45] elder-n00b commented on #101
Same thing here on macOS 10.11.6 with latest v0.28 by the way.
I saved the dump just in case but it's essentially the same error as above.
v0.26 works here too, nice.

[2021-09-24 19:02] nvaranki opened #104 "No partial diffs detected but entire file"
Starting from version 0.28.0.0, a "Changes" view displays for some files all lines checked on red background, then all lines checked on green background, for entire file. At the same time, the NetBeans version 12.0 correctly indicates local (partial) changes for the same file. I suppose end of line processing has been changed in the program but there's no indication of that issue on the GUI of Git

[2021-09-24 19:28] nvaranki commented on #104
Change of line endings for particular file is possible in NetBeans too. Use popup menu on dedicated control, located at far right side of status bar.

[2021-09-25 10:27] GitFiend commented on #104
Thanks for the report. Changing line endings in your file will currently result in an unhelpful diff. This does need to be fixed.

[2021-09-26 17:54] ComfyStoneSlab opened #105 "Can't push"
git push
remote: Permission to user/repo to ComfyStoneSlab.
fatal: unable to access 'https://github.com/user/repo.git/': The requested URL returned error: 403

user and repo i replaced them but in the error its the user,repo

[2021-09-26 19:25] GitFiend commented on #105
I'm about to release a fix where the credentials dialog could be hidden behind the error message you are seeing. In the meantime, if you can get any credential problem sorted at the command line then GitFiend should work after that.

[2021-09-27 15:52] ComfyStoneSlab commented on #105
thx

[2021-10-03 08:27] orilador commented on #94
Thanks @GitFiend , looks great!

[2021-10-10 16:59] SincerelyFaust opened #106 "Error while trying to clone a repo from GitHub"
[code]

[2021-10-10 17:00] #75 closed

[2021-10-10 19:35] GitFiend commented on #106
Thanks for reporting this. I'll look into it.

[2021-10-11 19:47] pablodz opened #107 "Please split timeline in branches"
I find really hard to filter commits by branch on gitfiend, some tree visual would be nice, thanks

[2021-10-11 23:29] GitFiend commented on #107
Thanks @pablodz, if everything goes well this should be available soon.

[2021-10-17 09:57] ttamttam opened #108 "Debian dropped libappindicator3-1 since bullseye (11)"
Here is how I installed GitFiend:

[code]
Best regards

[2021-11-29 09:17] lysek opened #109 "Toggle file selection by space bar"
It would be helpful to toggle selection of whole file (all changes within that file) in file list by space bar while the file list is focused.

Example of usage:
I have a lot of similar small changes and I want to review them, stage and commit. So I use arrow keys to move up and down and see changes but I have to click the checkbox in file list by mouse to select all changes within that file. Beca

[2021-11-29 09:22] lysek commented on #109
I just noticed that I can toggle all changes by pointing the mouse at the checkbox over the changes view, so I do not have move the mouse... but still having both hands on keyboard would be more comfortabe.

[2021-11-29 19:46] GitFiend commented on #109
Thanks for the feedback @lysek. This is a good idea and something I want to improve.

[2021-12-01 14:24] mbc-audiovisuales commented on #104
Hi, I can confirm whole file diff is highlighted by GitFiend 0.29.0.0. Meanwhile same repo under GitFiend V0.26.0.0 shows the partial diff properly.

Making some changes to simulate a real compound of partial diffs is shown properly in 0.26.0.0 (as it has been over a year for me), but gets shown as whole file diff in GitFiend 0.29.0.0

V 0.26.0.0
![image](https://user-images.githubusercontent.com/

[2021-12-01 14:25] mbc-audiovisuales commented on #104
I'm using Sublime 3, under W10 Pro

[2021-12-02 12:24] mbc-audiovisuales commented on #104
I think it does need to be fixed, as it is unrelated to line ending special characters. Marking whole file as different when a single character like a letter or a number is added to any line of the document (notice not talking about line ending chars).

Thanks again

[2021-12-14 01:57] GitFiend commented on #104
@mbc-audiovisuales There should be a fix out for this soon. In the meantime a workaround is to ensure that both Git and your text editor are outputting files with the same line endings.

[2021-12-16 22:23] GitFiend commented on #105
This should be fixed now. Let me know if it's still happening.

[2021-12-16 22:23] #105 closed

[2021-12-22 08:07] GitFiend commented on #109
I've improved this in v0.30. Hopefully it helps.

[2021-12-22 08:07] #109 closed

[2021-12-22 08:10] GitFiend commented on #107
There's now a commit graph in GitFiend v0.30 (as well as a recent feature letting you hide commits that aren't on a particular branch). Hopefully that helps.

[2021-12-22 08:10] #107 closed

[2021-12-22 08:11] GitFiend commented on #104
This should now be fixed in v0.30.

[2021-12-22 08:11] #104 closed

[2021-12-22 08:14] GitFiend commented on #103
There's now a new Mac app that should work on Apple silicon. I'd love to hear how it works for you.

[2021-12-22 08:22] GitFiend commented on #97
This was added in v0.29. Hopefully this helps.

[2021-12-22 08:22] #97 closed

[2021-12-22 08:24] GitFiend commented on #95
This should be fixed now. Let me know if it's still a problem.

[2021-12-22 08:24] #95 closed

[2021-12-22 08:29] GitFiend commented on #93
This has been changed quite a lot and there are no longer any sliding buttons.

@acarv Let me know if you are still having problems. The stage-all button is gone. Instead there's a checkbox at the top to select all files to be included in the commit.

[2021-12-22 08:29] #93 closed

[2021-12-22 08:32] GitFiend commented on #92
The size of the list has been increased. I'm also working on a multi repo feature that may further improve this in the future.

[2021-12-22 08:32] #92 closed

[2021-12-22 08:33] GitFiend commented on #81
This should be fixed now.

[2021-12-22 08:33] #81 closed

[2021-12-22 22:23] SincerelyFaust opened #110 "Can't open the app on Apple Silicon"
Greetings, I have a Macbook Pro with the new M1 CPU and I could not open the Apple Silicon version of the GitFiend app that I downloaded from your site, the Intel x64 version runs fine with Rosetta though.
It says that Apple could not scan the app and that it needs to be updated by the developer.
Would appreciate if you would take a look and let me know if there are any donation links as I'd be lo

[2021-12-23 05:51] GitFiend commented on #110
It looks like I exported from Xcode using the wrong button, oops. I've redone this and reuploaded it. Hopefully, that fixes the problem.

Thanks for your nice comments @SincerelyFaust, I really appreciate it. There's no way to donate right now, but this is something i'm thinking about and it's great to hear that GitFiend has been valuable to you.

[2021-12-23 16:53] SincerelyFaust commented on #110
I have tried the new one you uploaded and it works flawlessly, thank you!

[2021-12-23 16:53] #110 closed

[2021-12-25 20:06] pablodz commented on #107
Thanks, it works

[2021-12-26 21:04] #103 closed

[2021-12-26 23:20] GitFiend commented on #37
This has now been added to GitFiend. Hope it helps!

[2021-12-26 23:20] #37 closed

[2021-12-27 10:33] WieFel commented on #37
Thanks for letting me know! I wilk check it out and report back 😉

[2022-01-06 09:36] SincerelyFaust opened #111 "Stuck on loading after cloning a repository"
The app successfully clones the repository I want but it's stuck on the loading right after and it doesn't go away.
I'm using the x64, Apple Silicon version of the app on my M1 Macbook Pro.

[2022-01-06 22:14] GitFiend commented on #111
Does it let you click ok? Or does it keep spinning and you need to refresh/restart gitfiend?

[2022-01-06 22:35] Tealk opened #112 "bookmark/favorites"
Hello

would it be possible that repositorys can be pinned? So you could work nicer with a larger quantity and still quickly get to the often needed repositorys.

[2022-01-06 22:35] Tealk commented on #112
https://github.com/GitFiend/Support/discussions/113

[2022-01-06 22:35] #112 closed

[2022-01-07 00:31] GitFiend commented on #111
Ok, nevermind, I see the issue. Will have a fix soon.

[2022-01-07 15:30] SincerelyFaust commented on #111
Thank you

[2022-01-12 14:44] Hazarth commented on #57
@GitFiend @infiniityr

I just stumbled onto the same problem (GitFiend Version 0.30.1). It seems that for some reason GitFiend doesn't start with the proper environment on Mac?

As a **_work-around_** it's possible to launch GitFiend through the terminal using `open -a GitFiend` this will ofc pass your environment variables to GitFiend and then it works as expected.

I checked both bash and zsh an

[2022-01-12 17:48] #106 closed

[2022-01-15 01:49] GitFiend commented on #57
Thanks for valuable info @Hazarth. It seems macOS only provides "/usr/bin:/bin:/usr/sbin:/sbin" for PATH when the app starts (unless started from command line). I may be able to manually add /usr/local/bin if that would help.

@aurelhann That's a good idea. GPG signing is not currently part of my workflow and not used where I work and so this hasn't been top of my list. I do hope to start improvin

[2022-01-17 13:44] CTimmerman opened #114 "Feature Request: Changes next to commits"
It would be nice to see diffs next to the selected commit(s) similar to SourceTree, where users can even compare working copy with any past commit. It would also make finding a specific line change faster by not having to switch back and forth between commit and changes screens.

| Commits                  | Changes |
|----------------------------|--------------|
| *working copy*         |  What's

[2022-01-18 15:11] amraei opened #115 "Feature request: Hard & soft reset to a commit."

[2022-01-18 23:41] GitFiend commented on #114
Thanks @CTimmerman. I agree that this is cumbersome right now and plan to improve it. Still deciding how, though probably not like sourcetree.

[2022-01-19 09:34] CTimmerman commented on #114
Interesting, as [SourceTree is the best Git GUI i've used so far.](https://gist.github.com/CTimmerman/98c216b34c96d977f634a3d3e2c19ae8#version-manager)

[2022-01-19 11:29] acaruso-syn opened #116 "Slow commits loading"
Hi, I updated GitFiend to the latest available for Mac OS (Intel version) and noticed that when I switch repositories, GitFiend shows my changes quickly, but it now takes a long time (even 10 seconds) to load the commits lines it used to load quickly before updating to version 0.31.
I see this screen for several seconds
<img width="800" alt="Schermata 2022-01-19 alle 12 11 55" src="https://user-im

[2022-01-19 19:21] GitFiend commented on #116
Thanks for letting me know. This is probably related to changes I made for the new search feature. Turning the feature off may help somewhat. I care a lot about performance and definitely plan to improve this.

[2022-01-21 11:37] acaruso-syn commented on #116
Even if I disable the search feature, the UI is too slow on loading commits and viewing the details of the selected commits. Unfortunately I was forced to downgrade to the previous version because the waiting times are too high :disappointed:

[2022-01-22 03:10] GitFiend commented on #116
That makes sense, sorry about the hassle. I'm working on a fix right now.

[2022-01-30 23:24] GitFiend commented on #116
@acaruso-syn I've just released GitFiend 0.32.0 with performance improvements for repo loading. Keen to hear if this helps with your issue.

[2022-02-01 10:48] acaruso-syn commented on #116
Great! I have updated to the latest version (0.32.0) and now everything works correctly. No more times of high loads and I work fluently. Thank you :grin:

[2022-02-01 10:48] #116 closed

[2022-02-02 18:17] shlavik opened #117 "Extra horizontal line in the Repo menu"
![GF](https://user-images.githubusercontent.com/2076748/152213537-c1a3385c-344a-4089-aa53-7f9d0ea3a6e9.png)

[2022-02-02 20:36] GitFiend commented on #117
Good spotting, thanks.

[2022-02-08 03:35] CMBrando opened #118 "Donation Options?"
This is one of the only Linux git GUI's I've found that is actually really good! I love the UI and things just work. Is there a way we can monetarily support this? I know the project isn't open source, but just being able to donate some amount to show our gratitude and keep this project going would be great!

[2022-02-09 23:53] GitFiend commented on #118
Thanks @CMBrando! Nothing right now, maybe later this year. I'm currently working on features I'm really excited about and don't want to divert my attention to setting something up properly.

[2022-03-17 13:07] Drasenix opened #119 "[Feature Request] Ignore whitespaces in Diff View"
Hello.

Sometimes, huge block of codes are hidding small changes but we can't see them because the indentation has changed.

It would be nice if we could specify the logic behind the diff command especially the ignore whitespaces one! (git diff -b)

Maybe a checkbox or a list to choose from ?

[2022-03-17 13:33] Drasenix opened #120 "[Feature request] specify git command params"
Hi,

first of all, this tool is cool because of its simplicity. It is well design and free so thank you!

However, i must admit that it is limited (it's the strength and the weakness) because:
* I can't git push -f
* I can't git push --force-with-lease
* I can't git diff -b
* I can't freestyle like on the terminal. :p

It would be nice to be able to make this possible without being difficult or br

[2022-03-21 05:39] GitFiend commented on #120
Hi @Drasenix, thanks for the feedback. I think I could add something like right-click -> force push on the push button.

Adding params to git commands is an interesting idea. It's probably a bit too low-level for what I'm going for with GitFiend though.

[2022-03-21 05:40] GitFiend commented on #119
Yeah, I agree this could be better.

[2022-03-25 06:39] #89 closed

[2022-03-25 09:27] Drasenix commented on #98
maybe a button next to Branches to show a screen|modal with all the git history of current session ?

[2022-03-25 09:45] Drasenix opened #121 "[Feature request] Terminal for advance uses cases"
Hello,

after reading Issue #98 and #120 i was thinking that, maybe, for advance uses of git and specific needs, a Terminal/Command view could be good.
It would be a view as "Changes", "Commits" and "Branches" are.
So maybe a button "Command" or "Terminal" next to "Branches" could be the right place.

It would allow "freestyle" for those who needs and be optional for beginners. It could be useful

[2022-03-25 10:25] deepaspl commented on #98
yes, that is a good place to start but page is more convenient instead of
model.

thanks.

On Fri, 25 Mar 2022, 2:57 pm Drasenix, ***@***.***> wrote:

[2022-04-03 05:29] s0kil opened #122 "When locking a file, Don't delete changes with discard all button"
If I lock a file, I want that lock to be strict, don't discard changes with “discard all” button.
![Screenshot from 2022-04-03 01-28-07](https://user-images.githubusercontent.com/24403355/161413170-36ab8f5f-b17e-41c0-ba7f-22a82a3e7d29.png)

[2022-04-12 13:31] mroettgen commented on #49
I'm running into the same issue. Seems to happen because the submodule does not contain a .git folder but a .git file that points to the .git folder of the parent repository in the form of `gitdir: ../.git/modules/my-submodule`

[2022-04-12 23:32] GitFiend commented on #49
@mroettgen Oh thanks for the explanation, that makes sense. I will see if I can fix this soon.

[2022-05-10 01:27] GitFiend opened #123 "Support git version 2.33"
Git has changed the default behaviour of git pull since version 2.33. You now must specify whether to merge or rebase. This means that gitfiend pull fails when branches have diverged which is a common scenario.

[2022-05-13 08:52] #123 closed

[2022-06-05 03:51] MPLew-is opened #124 "Support multiple open windows"
Is it possible to add support for multiple windows/instances of GitFiend? I like to have a desktop for each related group of repos I work on, so being able to open multiple windows would be great.

[2022-06-05 08:47] GitFiend commented on #124
Yes, this is something I want to add. I disabled it early in development to keep things simple, but I may take a look at it again soon.

[2022-06-21 06:00] igorpupkinable commented on #49
Unfortunately it fails with error message. The reason must be as described above.
![image](https://user-images.githubusercontent.com/2854230/174727066-162a75cc-99b4-4bdf-a220-2f7f4be2723a.png)

[2022-06-30 08:34] FlyinPancake opened #125 "Support for conventional commits"
I've got acostumed to using conventional commits and would like to see that feature integrated into the commit message field.

[2022-06-30 08:35] FlyinPancake commented on #125
Here's the spec for it:
https://www.conventionalcommits.org/en/v1.0.0/

[2022-06-30 21:01] GitFiend commented on #125
This is interesting, will have a read.

[2022-07-01 18:02] mehmetakifayas opened #126 "v0.34.0 problems on Centos 7.9"
Hi,
I just started working with GitFiend v0.34.0 and installed on Centos 7.9 but I am having the following problems:

1. I can not merge branches using the "Merge branch into other" button since it does not appear
2. The little check sign on the checked out branch does not appear
![image](https://user-images.githubusercontent.com/6962855/176947422-8c9e86fa-65bc-4831-8e05-19c5857547fc.png)

3. Diff

[2022-07-01 23:48] GitFiend commented on #126
Thanks for the report. It looks like GitFiend has failed to identify HEAD.

Do you know if your local branch is far ahead or far behind your remote repo?

[2022-07-02 06:31] mehmetakifayas commented on #126
Hi,
Updating git version from 1.8.3.1 to 2.36 solved the problems.

[2022-07-02 08:31] GitFiend commented on #126
Great, thanks. I should put in a warning in about this.

[2022-07-08 02:53] GitFiend opened #127 "Add a warning when users installed version of Git is incompatible with GitFiend"
Git 1.8 seems to not work with GitFiend (see #126). GitFiend should either support this version, or warn the user.

[2022-07-08 02:53] #126 closed

[2022-07-08 06:35] JimmyZou92 commented on #80
I would love to have gitFlow as well.
Please add this function.

[2022-07-16 14:22] Myk014 opened #128 "When i press button Fetch the GitFiend always open new browser tab with..."
_Authentication Successful
Git Credential Manager has been successfully authenticated. You may now close this page._

p.s I use git on Bitbucket (Atlassian), new tab opened with next path:
http://localhost:34106/?code=U66eMtBVnPVDzGBJSd&state=fd5dca3927804b738e09877205eb6e1a

[2022-07-17 04:15] GitFiend commented on #128
Hi @Myk014, thanks for letting me know. You may be able to get around this by turning off "Use built-in Git" under the "Repo" menu. Also, make sure you have a recent version of Git installed.

[2022-07-30 15:08] #111 closed

[2022-07-31 05:56] #127 closed

[2022-08-12 09:57] Myk014 opened #129 "Copy code from GitFiend to other text editor"
![image](https://user-images.githubusercontent.com/47890395/184328431-390a685d-6d67-4422-9ad0-7fe6f37b2217.png)

When i copy some code from _commit_ to any text editor or IDE it is past without specials symbols \n \r \t

So i get next result:
`if(HeadsetAvailable(check)){			setHSdoorMode(Global(set)->doormode);		}`

But i expected:
`if(HeadsetAvailable(check)){`
   `       setHSdoorMode(Global(set

[2022-08-13 08:34] GitFiend commented on #129
Hi @Myk014. Thanks for the report. This is definitely on my list of things to fix.

[2022-08-17 19:01] naclomi opened #130 "'New Repo' button on startup"
Hello! I was wondering if it would be possible to add a 'Create a repo' button on the startup screen along side the 'Open' and 'Clone' buttons?

I'm considering using GitFiend as a tool to teach Git to a class of non-programmers, and while I can accomplish the above by telling them to hit "Ctrl+Shift+N", it would be nice to have a GUI equivalent to that action in front of them (and save me having

[2022-08-17 19:02] naclomi commented on #130
(this is a SPECTACULAR tool, by the way -- thank you so much for making it freely available and cross-platform)

[2022-08-18 23:25] GitFiend commented on #130
Hi @naclomi, thanks for the feedback! I think I can do this.

Now that you bring this up, I think there’s also a bug in that you should be able to see and access the file menu on Windows when there's no repo open. I will try and get a fix for this out soon.

[2022-08-20 09:09] Tealk opened #131 "labeling of the branches not correct"
in the branch overview origin/ is shown 2 times instead of upstrame/ and origin/

![image](https://user-images.githubusercontent.com/12276250/185738016-57233239-36a1-4093-b1f3-4e6d543293da.png)

[2022-08-20 18:23] mehmetakifayas opened #132 "v0.35.3 glibc dependency problem on Centos 7.9"
Hi,
I'm using GitFiend on Centos 7.9. GitFiend v0.35.3 does not work on Centos 7.9 since the rust-server requires glibc version 2.29.
You can see the log below.

/opt/GitFiend/resources/app.asar.unpacked/output-code/core/rust-server true
/opt/GitFiend/resources/app.asar.unpacked/output-code/core/rust-server: /lib64/libc.so.6: version `GLIBC_2.29' not found (required by /opt/GitFiend/resources/app.

[2022-08-20 22:18] GitFiend commented on #132
Thanks for reporting this. I'll see if it can get a fix out soon.

[2022-08-21 05:14] GitFiend commented on #131
Thanks for reporting this @Tealk. I've come up with a fix and it'll be in the next release.

[2022-08-22 08:45] Myk014 commented on #128
It fixed in 0.35.3.0. Thank you @GitFiend

[2022-08-22 09:03] #128 closed

[2022-08-23 14:36] ebbek opened #133 "Writing to the terminal"
Hi

This may be a duplicate of issue #71 although I do think the problem is a little different.

Platform: Ubuntu 22.04.1 in WSL with an X410 X-server running in Windows so all programs are started from the command line.

When I start gitfiend from the terminal as follows:

`gitfiend . & disown $!`

letting it get up and running and closing it immediately after it is ready, I get this output in th

[2022-08-24 07:41] farrukh-dplit commented on #132
Exactly same issue with Ubuntu 18.04.

[2022-08-24 08:10] GitFiend commented on #133
Thanks for letting me know you use GitFiend this way. I can certainly make this a lot less noisey.

[2022-08-27 10:14] GitFiend commented on #132
I've just release GitFiend 0.36 which should fix this. Let me know if it's still an issue.

[2022-08-27 10:20] GitFiend commented on #130
I've just released GitFiend 0.36 which includes this change. Hopefully it helps.

[2022-08-27 10:21] GitFiend commented on #131
This should now be fixed in v0.36.

[2022-08-27 20:17] naclomi commented on #130
Indeed it does! Thank you so much :blush:

[2022-08-27 20:17] #130 closed

[2022-08-27 20:34] mehmetakifayas commented on #132
Hi,
Thank you for the new release. After updating to v0.36 GitFiend works now but when I click on the changed file, the differences view does not show up. Also when I minimize the GitFiend window, content of Changes/Commits/Branches tabs disappear.
You can see the log below.

/opt/GitFiend/resources/app.asar.unpacked/output-code/core/rust-server true
PORT:37645

thread 'main' panicked at 'index ou

[2022-08-28 00:00] GitFiend commented on #132
Thanks for the quick feedback and providing the log. I've created a build that will hopefully fix this and uploaded it to github here: https://github.com/GitFiend/Support/releases/tag/0.36.1

If this works I'll release it, otherwise keep looking into it.

[2022-08-28 10:33] mehmetakifayas commented on #132
Thank you. v0.36.1 works!

[2022-08-29 08:27] acaruso-syn opened #134 "[Little Bug] Last line changed ?"
When editing files I noticed that the commit section always shows the last line of the file as if I added it in addition to my changes. I haven't tried what happens if I don't push the line and don't want to find out, but it sounds like a bug. I share an image to make the idea. The last line was neither added nor changed. The same behavior happens if I select the first file. (All on Intel Mac with

[2022-08-30 10:24] Myk014 opened #135 "Cannot run two GitFiend on one PC"
I use two different project but some parts of them have the same code and some times i need compare two commits in this projects

1. Can you make possible to run two GirlFriend on one PC ?
2 . Can you add some tabs system inside GitFiend to open two project for compare them commits and changes?
_For exeple Notepad++ can open two files and compare it_

I think it's will very useful to many develope

[2022-08-30 22:44] GitFiend commented on #135
Thanks @Myk014, wanting to compare 2 different commits makes sense. I think this relates to #124, though your use case is different.

[2022-08-31 06:58] farrukh-dplit commented on #132
0.36 seems functional, thank you for quick fix.

[2022-09-01 04:58] mehmetakifayas commented on #132
Hi,
I know this is a little bit late to report but when I open v0.36.1 in another VM (Centos 7.9) error window pop ups.

The message is: “Couldn’t find Git. If you are installing Git, wait for the install to finish, then try again”.

Git 2.37 is already installed. I don’t know why gitfiend could not find the directory.

[2022-09-01 08:52] GitFiend commented on #132
That's strange. Gitfiend just calls git and assumes it's in your path. It's possible the reload button in that dialog is no longer working due to my recent changes and you may need to restart (if you haven't already tried that).

[2022-09-02 10:16] mehmetakifayas commented on #132
Restarting VM didn’t work. I cleaned everything related to GitFiend and re-installed but that couldn’t solve the problem. Interestingly only 1 over 3 VM causes this problem.

[2022-09-02 23:30] GitFiend commented on #132
What do you get exactly when you run "git version" in a terminal? I noticed something a little dumb in my version checking code and made a fix and another build: https://github.com/GitFiend/Support/releases/tag/0.36.2. There's a chance this will fix it.

[2022-09-05 05:06] mehmetakifayas commented on #132
Hi,
v0.36.3 worked. There was not only version numbers but also characters as suffix in my git version (I know the reason). After updating git version to 2.37.3, both v0.36.1 and v0.36.3 worked in this VM.
Thank you!

[2022-09-08 04:25] ebbek commented on #133
Hi Toby

FYI: This bash function does the trick for me for now:

# Open gitfiend
function gitf() {
  ( gitfiend 2>&1 > /dev/null ) 2>&1 > /dev/null &
}

Best regards

Ebbe Kristensen

Den ons. 24. aug. 2022 kl. 10.10 skrev Toby Suggate <
***@***.***>:

[2022-09-11 04:50] #117 closed

[2022-09-11 07:36] #131 closed

[2022-09-11 07:37] GitFiend commented on #133
Great thanks. I've also reduced the amount of output a lot in the latest release.

[2022-09-26 10:00] mediaexplorer74 opened #136 "Where is the repo with GitFiend source code?"
Hello, Toby.

Where is the repo with GitFiend source code?

[2022-10-01 12:56] SincerelyFaust opened #137 "GitFiend 0.37.2 not launching on Apple Silicon"
Hello,

I have downloaded the latest version of GitFiend which is the 0.37.2 version for Apple Silicon and this is the error I get:

[code]

[2022-10-01 21:43] GitFiend commented on #137
Thanks for letting me know. I've re-uploaded an apple silicon version after finding a version of electron that works and rebuilding and testing. Might be time to get the swift version going again.

[2022-10-01 22:36] GitFiend commented on #136
Hi @mediaexplorer74. The repo is currently private.

[2022-10-02 06:05] mediaexplorer74 commented on #136
Hi @GitFiend. Ok, Private New Zeland properties and other politics not interested to me.
What coding language you used? Not C#? It's not friendly. So, goodbye!

[2022-10-02 06:09] #136 closed

[2022-10-02 17:29] SincerelyFaust commented on #137
Downloaded and it works with the new one, thanks and have a nice day!

[2022-10-02 17:29] #137 closed

[2022-10-10 16:59] manjunathav opened #138 "Merge conflict view issue - Release 0.37.2"
Merge conflict view shows empty in left and right side views.

[2022-10-12 00:21] GitFiend commented on #138
Thanks for letting me know. I have seen this happen to someone else once before but it's not happened to me. Any more details on how to reproduce it reliably would be really helpful.

[2022-10-12 00:25] GitFiend commented on #134
I've found the cause and have a fix for this coming soon.

[2022-10-19 09:20] #134 closed

[2022-10-19 09:21] #132 closed

[2022-10-19 09:21] #129 closed

[2022-10-19 09:30] #10 closed

[2022-10-19 09:36] #11 closed

[2022-10-19 09:37] #36 closed

[2022-10-19 09:38] #38 closed

[2022-10-19 09:41] #63 closed

[2022-10-19 09:41] #65 closed

[2022-10-19 09:45] #72 closed

[2022-10-19 09:46] #60 closed

[2022-10-19 09:48] #69 closed

[2022-10-19 09:51] #133 closed

[2022-10-22 17:08] alabotski opened #139 "Tree structure"
You can make it possible to display files as a tree instead of a list

![image](https://user-images.githubusercontent.com/439337/197353268-9533e263-570d-4bf5-91e8-2dff74ccf37a.png)

[2022-10-24 19:40] Hankslab-ABG opened #140 "Couldn't find git"
Greetings,

I'm relatively new to git and want to use GitFiend to help with merge conflicts (as this is a pain in GitBash). I had GitFiend working but had to force close it and git after it froze switching between branches. When I tried opening it again, it couldn't not find git. I uninstalled git and GitFiend, installed the newest version of git, but GitFiend still can't find it. Is there some wa

[2022-10-24 21:17] GitFiend commented on #140
Hi @Hankslab-ABG, sorry to hear about your trouble.

It sounds like you are using Windows?

If you run `git --version` in cmd.exe you should see a version printed out. If this works then GitFiend should also work.

I'm surprised to hear it froze when you were switching branches, though this could mean you were on version 0.37. The latest version is 0.38 which should hopefully fix issues with the p

[2022-10-24 22:14] Hankslab-ABG commented on #140
Thanks for your quick reply.

When I run that command in gitBash I get git version 2.38.1.windows.1. The command doesn't work in command prompt. Is that perhaps part of the issue?

[2022-10-24 22:46] GitFiend commented on #140
Yeah, it means that git isn't set in Path in your environment variables. I think the git installer asks whether you want it added when you run it and maybe you said no or that you only want to use gitbash? Otherwise you can add it manually in system settings.

[2022-10-25 00:51] GitFiend commented on #140
It could be this:
![image](https://user-images.githubusercontent.com/47970508/197656988-f0187729-7af9-42af-8e5c-e9c2da461ec4.png)
I think GitFiend won't work if you select option 1.

[2022-10-25 16:50] Hankslab-ABG commented on #140
This did the trick! I had actually tried to add the path to the environment variables manually, but I had just pointed it to the git folder itself rather than the cmd subfolder within it. Once I change it I was able to get GitFiend to load again.

Thanks so much! Looking forward to using this again.

[2022-11-07 11:56] mulcek opened #141 "On pre-commit hook (husky) can't resolve nodejs - tried on a macos"
I have a nodejs installed via nvm inside project. This also maked symbolic links at
PATH=/Users/<user>/.nvm/versions/node/v18.12.1/bin:/Library/Developer/CommandLineTools/usr/libexec/git-core:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin

GitFiend doesn't seems to resolve it and errors:

[code]

[2022-11-08 00:19] GitFiend commented on #141
It looks like it can't resolve yarn? Is your pre-commit hook and yarn both working at the command line?

[2022-11-08 07:18] #140 closed

[2022-11-08 07:20] GitFiend commented on #139
Yeah, I can look into this. Being able to select/unselect a folder would be handy.

[2022-11-21 09:50] martin8877 opened #142 "Commits view - align branches and date"
Hi,
can we align branches to the right and date to the left in commits views? It's difficult to match commit text with branch or date when window is wide.

![Screenshot_20221121_103444](https://user-images.githubusercontent.com/23344526/203018982-67b5dc52-dbee-4748-8c1e-1fdd2cdf3c81.png)

[2022-11-22 01:14] GitFiend commented on #142
Yeah, this could be improved for wide screens/windows.